<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.oauthapi.dao.RealNameOauthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.oauthapi.entity.RealNameOauth">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode"/>
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="bind_status" jdbcType="INTEGER" property="bindStatus"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="str1" jdbcType="VARCHAR" property="str1"/>
        <result column="shr2" jdbcType="VARCHAR" property="shr2"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,tenant_code,
        app_id, customer_id, customer_name, customer_code, tenant_name, telphone, id_card, bind_status, delete_status, str1, shr2
    </sql>

</mapper>
