<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.tenant.dao.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.tenant.entity.Tenant">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="company_abbreviation" jdbcType="VARCHAR" property="companyAbbreviation"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="consumer_hotline" jdbcType="VARCHAR" property="consumerHotline"/>
        <result column="repair_phone" jdbcType="VARCHAR" property="repairPhone"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="init_status" jdbcType="INTEGER" property="initStatus"/>
        <result column="init_fail_msg" jdbcType="VARCHAR" property="initFailMsg"/>
        <result column="readonly" jdbcType="BIT" property="readonly"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user_id" jdbcType="BIGINT" property="deleteUserId"/>
        <result column="lang_type" jdbcType="INTEGER" property="langType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        code, name, company_abbreviation, company_address, duty, contacts, telphone, consumer_hotline, repair_phone, expiration_time, url, type, status, init_status, init_fail_msg, readonly, logo, describe_, delete_time, delete_user_id, lang_type
    </sql>

</mapper>
