<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.securityed.dao.SecurityCheckRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.securityed.entity.SecurityCheckRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gas_code" jdbcType="VARCHAR" property="gasCode"/>
        <result column="gas_meter_name" jdbcType="VARCHAR" property="gasMeterName"/>
        <result column="gas_meter_factory_id" jdbcType="BIGINT" property="gasMeterFactoryId"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="sc_no" jdbcType="VARCHAR" property="scNo"/>
        <result column="plan_security_check_user_id" jdbcType="BIGINT" property="planSecurityCheckUserId"/>
        <result column="plan_security_check_user_name" jdbcType="VARCHAR" property="planSecurityCheckUserName"/>
        <result column="plan_security_check_time" jdbcType="TIMESTAMP" property="planSecurityCheckTime"/>
        <result column="security_check_user_id" jdbcType="BIGINT" property="securityCheckUserId"/>
        <result column="security_check_user_name" jdbcType="VARCHAR" property="securityCheckUserName"/>
        <result column="security_check_time" jdbcType="TIMESTAMP" property="securityCheckTime"/>
        <result column="security_check_content" jdbcType="VARCHAR" property="securityCheckContent"/>
        <result column="security_check_result" jdbcType="SMALLINT" property="securityCheckResult"/>
        <result column="review_user_id" jdbcType="BIGINT" property="reviewUserId"/>
        <result column="review_user_name" jdbcType="VARCHAR" property="reviewUserName"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="review_objection" jdbcType="VARCHAR" property="reviewObjection"/>
        <result column="distribution_user_id" jdbcType="BIGINT" property="distributionUserId"/>
        <result column="distribution_user_name" jdbcType="VARCHAR" property="distributionUserName"/>
        <result column="distribution_time" jdbcType="TIMESTAMP" property="distributionTime"/>
        <result column="end_job_user_id" jdbcType="BIGINT" property="endJobUserId"/>
        <result column="end_job_user_name" jdbcType="VARCHAR" property="endJobUserName"/>
        <result column="end_job_time" jdbcType="TIMESTAMP" property="endJobTime"/>
        <result column="reject_user_id" jdbcType="BIGINT" property="rejectUserId"/>
        <result column="reject_user_name" jdbcType="VARCHAR" property="rejectUserName"/>
        <result column="reject_time" jdbcType="TIMESTAMP" property="rejectTime"/>
        <result column="reject_desc" jdbcType="VARCHAR" property="rejectDesc"/>
        <result column="stop_user_id" jdbcType="BIGINT" property="stopUserId"/>
        <result column="stop_user_name" jdbcType="VARCHAR" property="stopUserName"/>
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime"/>
        <result column="stop_desc" jdbcType="VARCHAR" property="stopDesc"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="order_state" jdbcType="SMALLINT" property="orderState"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_user,update_time,reject_user_id,reject_user_name,reject_time,
        company_code, company_name, org_id, org_name, customer_code, customer_name, gas_code, gas_meter_name, gas_meter_factory_id, use_gas_type_id, sc_no, plan_security_check_user_id, plan_security_check_user_name, plan_security_check_time, security_check_user_id, security_check_user_name, security_check_time, security_check_content, security_check_result, review_user_id, review_user_name, review_time, review_objection, distribution_user_id, distribution_user_name, distribution_time, end_job_user_id, end_job_user_name, end_job_time, reject_desc, stop_user_id, stop_user_name, stop_time, stop_desc, data_status, order_state, remark
    </sql>

</mapper>
