<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.installed.dao.InstallDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.installed.entity.InstallDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="install_number" jdbcType="VARCHAR" property="installNumber"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="street_id" jdbcType="BIGINT" property="streetId"/>
        <result column="street_name" jdbcType="VARCHAR" property="streetName"/>
        <result column="community_id" jdbcType="BIGINT" property="communityId"/>
        <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
        <result column="address_detail" jdbcType="VARCHAR" property="addressDetail"/>
        <result column="gas_meter_factory_id" jdbcType="BIGINT" property="gasMeterFactoryId"/>
        <result column="gas_meter_factory_name" jdbcType="VARCHAR" property="gasMeterFactoryName"/>
        <result column="gas_meter_version_id" jdbcType="BIGINT" property="gasMeterVersionId"/>
        <result column="gas_meter_version_name" jdbcType="VARCHAR" property="gasMeterVersionName"/>
        <result column="gas_meter_model_id" jdbcType="VARCHAR" property="gasMeterModelId"/>
        <result column="gas_meter_model_name" jdbcType="VARCHAR" property="gasMeterModelName"/>
        <result column="use_gas_type_code" jdbcType="VARCHAR" property="useGasTypeCode"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="surge_tank_number" jdbcType="VARCHAR" property="surgeTankNumber"/>
        <result column="gas_meter_id" jdbcType="BIGINT" property="gasMeterId"/>
        <result column="gas_meter_name" jdbcType="VARCHAR" property="gasMeterName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, install_number, province_code, province_name, city_code, city_name, area_code, street_id, street_name, community_id, community_name, address_detail, gas_meter_factory_id, gas_meter_factory_name, gas_meter_version_id, gas_meter_version_name, gas_meter_model_id, gas_meter_model_name, use_gas_type_code, use_gas_type_name, surge_tank_number, gas_meter_id, gas_meter_name
    </sql>

</mapper>
