<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.installed.dao.InstallDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.installed.entity.InstallDesign">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="install_number" jdbcType="VARCHAR" property="installNumber"/>
        <result column="sketch_url" jdbcType="VARCHAR" property="sketchUrl"/>
        <result column="sketch_user" jdbcType="BIGINT" property="sketchUser"/>
        <result column="design_url" jdbcType="VARCHAR" property="designUrl"/>
        <result column="design_user" jdbcType="BIGINT" property="designUser"/>
        <result column="budget" jdbcType="DECIMAL" property="budget"/>
        <result column="budget_user" jdbcType="BIGINT" property="budgetUser"/>
        <result column="budget_time" jdbcType="TIMESTAMP" property="budgetTime"/>
        <result column="workload" jdbcType="LONGVARCHAR" property="workload"/>
        <result column="process_status" jdbcType="VARCHAR" property="processStatus"/>
        <result column="review_user_id" jdbcType="BIGINT" property="reviewUserId"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="review_objection" jdbcType="VARCHAR" property="reviewObjection"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,update_user,update_time,create_user,create_time,
        install_number, sketch_url, sketch_user, design_url, design_user, budget, budget_user, budget_time, workload, process_status, review_user_id, review_time, review_objection, data_status, remark
    </sql>

</mapper>
