<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operation.dao.OperationAcceptanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operation.entity.OperationAcceptance">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="alarm_customer_code" jdbcType="VARCHAR" property="alarmCustomerCode"/>
        <result column="alarm_customer_name" jdbcType="VARCHAR" property="alarmCustomerName"/>
        <result column="alarm_customer_phone" jdbcType="VARCHAR" property="alarmCustomerPhone"/>
        <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent"/>
        <result column="gas_code" jdbcType="CHAR" property="gasCode"/>
        <result column="gas_meter_name" jdbcType="VARCHAR" property="gasMeterName"/>
        <result column="gas_meter_factory_id" jdbcType="BIGINT" property="gasMeterFactoryId"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="oper_accept_no" jdbcType="VARCHAR" property="operAcceptNo"/>
        <result column="plan_handle_user_id" jdbcType="CHAR" property="planHandleUserId"/>
        <result column="plan_handle_user_name" jdbcType="VARCHAR" property="planHandleUserName"/>
        <result column="plan_handle_time" jdbcType="TIMESTAMP" property="planHandleTime"/>
        <result column="handle_user_id" jdbcType="BIGINT" property="handleUserId"/>
        <result column="handle_user_name" jdbcType="VARCHAR" property="handleUserName"/>
        <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime"/>
        <result column="terminate_user_id" jdbcType="BIGINT" property="terminateUserId"/>
        <result column="terminate_user_name" jdbcType="VARCHAR" property="terminateUserName"/>
        <result column="terminate_time" jdbcType="TIMESTAMP" property="terminateTime"/>
        <result column="stop_desc" jdbcType="VARCHAR" property="stopDesc"/>
        <result column="accept_status" jdbcType="SMALLINT" property="acceptStatus"/>
        <result column="accept_process_state" jdbcType="SMALLINT" property="acceptProcessState"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_user,update_time,
        company_code, company_name, org_id, org_name, alarm_customer_code, alarm_customer_name, alarm_customer_phone, alarm_content, gas_code, gas_meter_name, gas_meter_factory_id, use_gas_type_id, oper_accept_no, plan_handle_user_id, plan_handle_user_name, plan_handle_time, handle_user_id, handle_user_name, handle_time, terminate_user_id, terminate_user_name, terminate_time, stop_desc, accept_status, accept_process_state, remark
    </sql>

</mapper>
