<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.biztemporary.dao.CustomerTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.biztemporary.entity.CustomerTemp">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_type_code" jdbcType="VARCHAR" property="customerTypeCode"/>
        <result column="customer_type_name" jdbcType="VARCHAR" property="customerTypeName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="id_type_code" jdbcType="VARCHAR" property="idTypeCode"/>
        <result column="id_type_name" jdbcType="VARCHAR" property="idTypeName"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="contact_address" jdbcType="VARCHAR" property="contactAddress"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="customer_status" jdbcType="SMALLINT" property="customerStatus"/>
        <result column="pre_store_money" jdbcType="DECIMAL" property="preStoreMoney"/>
        <result column="pre_store_count" jdbcType="INTEGER" property="preStoreCount"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber"/>
        <result column="contract_status" jdbcType="BIT" property="contractStatus"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="cardholder" jdbcType="VARCHAR" property="cardholder"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="insurance_no" jdbcType="VARCHAR" property="insuranceNo"/>
        <result column="insurance_end_time" jdbcType="TIMESTAMP" property="insuranceEndTime"/>
        <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle"/>
        <result column="TIN" jdbcType="VARCHAR" property="tin"/>
        <result column="invoice_bank_account" jdbcType="VARCHAR" property="invoiceBankAccount"/>
        <result column="invoice_address" jdbcType="VARCHAR" property="invoiceAddress"/>
        <result column="invoice_email" jdbcType="VARCHAR" property="invoiceEmail"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="black_status" jdbcType="INTEGER" property="blackStatus"/>
        <result column="delete_user" jdbcType="BIGINT" property="deleteUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        company_code, company_name, org_id, org_name, customer_code, customer_name, customer_type_code, customer_type_name, sex, id_type_code, id_type_name, id_number, id_card, telphone, contact_address, remark, customer_status, pre_store_money, pre_store_count, balance, contract_number, contract_status, bank, cardholder, bank_account, insurance_no, insurance_end_time, invoice_title, TIN, invoice_bank_account, invoice_address, invoice_email, delete_status, black_status, delete_user, delete_time
    </sql>

</mapper>
