<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.biztemporary.dao.GasTypeChangeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.biztemporary.entity.GasTypeChangeRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_ball_id" jdbcType="VARCHAR" property="businessBallId"/>
        <result column="business_ball_name" jdbcType="VARCHAR" property="businessBallName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gas_meter_code" jdbcType="VARCHAR" property="gasMeterCode"/>
        <result column="gas_meter_name" jdbcType="VARCHAR" property="gasMeterName"/>
        <result column="change_time" jdbcType="TIMESTAMP" property="changeTime"/>
        <result column="old_gas_type_name" jdbcType="VARCHAR" property="oldGasTypeName"/>
        <result column="old_gas_type_id" jdbcType="BIGINT" property="oldGasTypeId"/>
        <result column="new_gas_type_name" jdbcType="VARCHAR" property="newGasTypeName"/>
        <result column="new_gas_type_id" jdbcType="BIGINT" property="newGasTypeId"/>

        <result column="start_time_new" jdbcType="TIMESTAMP" property="startTimeNew"/>
        <result column="end_time_new" jdbcType="TIMESTAMP" property="endTimeNew"/>
        <result column="start_time_old" jdbcType="TIMESTAMP" property="startTimeOld"/>
        <result column="end_time_old" jdbcType="TIMESTAMP" property="endTimeOld"/>

        <result column="old_price_num" jdbcType="INTEGER" property="oldPriceNum"/>
        <result column="new_price_num" jdbcType="INTEGER" property="newPriceNum"/>
        <result column="cycle_sum_control" jdbcType="SMALLINT" property="cycleSumControl"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_ball_id, business_ball_name, customer_code, customer_name, gas_meter_code, gas_meter_name, change_time, old_gas_type_name, old_gas_type_id, new_gas_type_name, new_gas_type_id, start_time_new, end_time_new, start_time_old, end_time_old,old_price_num, new_price_num, cycle_sum_control
    </sql>

    <select id="queryFocusInfo" parameterType="com.cdqckj.gmis.biztemporary.entity.GasTypeChangeRecord" resultType="com.cdqckj.gmis.biztemporary.vo.GasTypeChangeRecordVO">
        SELECT
            a.*, m.gas_meter_number
        from
            gt_gas_type_change_record a
        LEFT JOIN da_gas_meter m on a.gas_meter_code = m.gas_code
        WHERE
            a.customer_code = #{queryInfo.customerCode}
        <if test="queryInfo.gasMeterCode != null and queryInfo.gasMeterCode !=''">
            AND a.gas_meter_code = #{queryInfo.gasMeterCode}
        </if>
        <if test="orgIds != null and orgIds.size() > 0 ">
            and a.org_id in
            <foreach collection="orgIds" open="(" close=")" item="orgIds" separator=",">
                #{orgIds}
            </foreach>
        </if>
    </select>
</mapper>
