<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.biztemporary.dao.OpenAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.biztemporary.entity.OpenAccountRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="CHAR" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="relate_id" jdbcType="BIGINT" property="relateId"/>
        <result column="customer_id" jdbcType="CHAR" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="install_id" jdbcType="CHAR" property="installId"/>
        <result column="gas_meter_id" jdbcType="CHAR" property="gasMeterId"/>
        <result column="gas_meter_type_id" jdbcType="CHAR" property="gasMeterTypeId"/>
        <result column="gas_meter_type_name" jdbcType="VARCHAR" property="gasMeterTypeName"/>
        <result column="gas_meter_factory_id" jdbcType="CHAR" property="gasMeterFactoryId"/>
        <result column="gas_meter_factory_name" jdbcType="VARCHAR" property="gasMeterFactoryName"/>
        <result column="gas_meter_version_id" jdbcType="CHAR" property="gasMeterVersionId"/>
        <result column="gas_meter_version_name" jdbcType="VARCHAR" property="gasMeterVersionName"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, relate_id, customer_id, customer_name, install_id, gas_meter_id, gas_meter_type_id, gas_meter_type_name, gas_meter_factory_id, gas_meter_factory_name, gas_meter_version_id, gas_meter_version_name, status, create_user_name
    </sql>

    <select id="stsOpenAccountRecord" resultType="java.lang.Long">
        SELECT
            COUNT( 1 )
        FROM
            gt_open_account_record
        WHERE org_id IN ${dataScope}
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.businessHallId != null">
                AND business_hall_id = #{stsSearchParam.businessHallId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
    </select>

    <select id="stsOpenCustomerType" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBaseVo">
        SELECT
            COUNT(1) amount, customer_type_code type
        FROM
            gt_open_account_record goar INNER JOIN da_customer dc ON goar.customer_id = dc.customer_code
        WHERE
            1 = 1
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND goar.company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND goar.org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.businessHallId != null">
                AND goar.business_hall_id = #{stsSearchParam.businessHallId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND goar.create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND goar.create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND goar.create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
            GROUP BY dc.customer_type_code
    </select>

</mapper>
