<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.biztemporary.dao.SupplementGasRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.biztemporary.entity.SupplementGasRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gas_meter_code" jdbcType="VARCHAR" property="gasMeterCode"/>
        <result column="rep_gas_method" jdbcType="VARCHAR" property="repGasMethod"/>
        <result column="rep_gas_desc" jdbcType="VARCHAR" property="repGasDesc"/>
        <result column="rep_gas" jdbcType="DECIMAL" property="repGas"/>
        <result column="rep_money" jdbcType="DECIMAL" property="repMoney"/>
        <result column="rep_gas_status" jdbcType="VARCHAR" property="repGasStatus"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, customer_code, customer_name, gas_meter_code, rep_gas_method, rep_gas_desc, rep_gas, rep_money, rep_gas_status, data_status
    </sql>

    <select id="queryFocusInfo" parameterType="java.lang.String"
            resultType="com.cdqckj.gmis.biztemporary.vo.SupplementGasRecordVO">
        select
        a.id,
        a.create_time,
        a.create_user,
        a.update_time,
        a.update_user,
        a.company_code,
        a.company_name,
        a.org_id,
        a.org_name,
        a.business_hall_id,
        a.business_hall_name,
        a.customer_code,
        a.gas_meter_code,
        a.rep_gas_method,
        a.rep_gas,
        a.rep_money,
        a.rep_gas_desc,
        a.rep_gas_status,
        m.gas_meter_number,
        v.amount_mark
        from gt_supplement_gas_record a
        left join da_gas_meter m on a.gas_meter_code = m.gas_code
        LEFT JOIN pt_gas_meter_version v on m.gas_meter_version_id = v.id
        WHERE
        a.data_status = 1
        AND a.customer_code = #{customerCode}
        <if test="gasMeterCode != null and gasMeterCode !=''">
            AND a.gas_meter_code = #{gasMeterCode}
        </if>
        <if test="orgIds != null and orgIds.size() > 0 ">
            and a.org_id in
            <foreach collection="orgIds" open="(" close=")" item="orgIds" separator=",">
                #{orgIds}
            </foreach>
        </if>
    </select>

</mapper>
