<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.iot.qc.dao.IotDeviceParamsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.iot.qc.entity.IotDeviceParams">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gas_meter_number" jdbcType="VARCHAR" property="gasMeterNumber"/>
        <result column="un_upLoad_colse" jdbcType="INTEGER" property="unUploadColse"/>
        <result column="valve_no_upLoad" jdbcType="INTEGER" property="valveNoUpload"/>
        <result column="valve_close_nouse" jdbcType="INTEGER" property="valveCloseNouse"/>
        <result column="time_interva" jdbcType="INTEGER" property="timeInterva"/>
        <result column="balance_alarm_value_one" jdbcType="DECIMAL" property="balanceAlarmValueOne"/>
        <result column="flowover_enable" jdbcType="SMALLINT" property="flowoverEnable"/>
        <result column="timed_param_meter" jdbcType="VARCHAR" property="timedParamMeter"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gas_meter_number, un_upLoad_colse, valve_no_upLoad, valve_close_nouse, time_interva, balance_alarm_value_one, flowover_enable, timed_param_meter
    </sql>

</mapper>
