<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.iot.qc.dao.IotSubscribeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.iot.qc.entity.IotSubscribe">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="licence" jdbcType="LONGVARCHAR" property="licence"/>
        <result column="domain_id" jdbcType="VARCHAR" property="domainId"/>
        <result column="subscribe" jdbcType="INTEGER" property="subscribe"/>
        <result column="notice_type" jdbcType="VARCHAR" property="noticeType"/>
        <result column="notice_url" jdbcType="VARCHAR" property="noticeUrl"/>
        <result column="notice_cache_day" jdbcType="INTEGER" property="noticeCacheDay"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        licence, domain_id, subscribe, notice_type, notice_url, notice_cache_day
    </sql>

</mapper>
