<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.AdjustCalculationRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.AdjustCalculationRecord">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="body_number" jdbcType="VARCHAR" property="bodyNumber"/>
        <result column="gas_meter_address" jdbcType="VARCHAR" property="gasMeterAddress"/>
        <result column="total_num" jdbcType="BIGINT" property="totalNum"/>
        <result column="accounting_user_id" jdbcType="BIGINT" property="accountingUserId"/>
        <result column="accounting_user_name" jdbcType="VARCHAR" property="accountingUserName"/>
        <result column="accounting_time" jdbcType="TIMESTAMP" property="accountingTime"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_user,create_time,update_user,update_time,
        start_time, end_time, use_gas_type_id, use_gas_type_name, customer_code, customer_name, body_number, gas_meter_address, total_num, accounting_user_id, accounting_user_name, accounting_time, data_status
    </sql>

    <select id="getCaculationTaskInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from gt_adjust_calculation_record
        where 1=1
        <if test="startTime != null">
            <![CDATA[and start_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and end_time <= #{endTime}]]>
        </if>

    </select>

</mapper>
