<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.AdjustPriceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.AdjustPriceRecord">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="recharge_readmeter_id" jdbcType="BIGINT" property="rechargeReadmeterId"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_type_code" jdbcType="VARCHAR" property="customerTypeCode"/>
        <result column="customer_type_name" jdbcType="VARCHAR" property="customerTypeName"/>
        <result column="compensation_no" jdbcType="VARCHAR" property="compensationNo"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gasmeter_name" jdbcType="VARCHAR" property="gasmeterName"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="gas_meter_type_code" jdbcType="VARCHAR" property="gasMeterTypeCode"/>
        <result column="gas_meter_type_name" jdbcType="VARCHAR" property="gasMeterTypeName"/>
        <result column="body_number" jdbcType="VARCHAR" property="bodyNumber"/>
        <result column="customer_charge_no" jdbcType="VARCHAR" property="customerChargeNo"/>
        <result column="compensation_price" jdbcType="DECIMAL" property="compensationPrice"/>
        <result column="compensation_gas" jdbcType="DECIMAL" property="compensationGas"/>
        <result column="compensation_money" jdbcType="DECIMAL" property="compensationMoney"/>
        <result column="accounting_user_id" jdbcType="BIGINT" property="accountingUserId"/>
        <result column="accounting_user_name" jdbcType="VARCHAR" property="accountingUserName"/>
        <result column="review_user_id" jdbcType="BIGINT" property="reviewUserId"/>
        <result column="review_user_name" jdbcType="VARCHAR" property="reviewUserName"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="review_objection" jdbcType="VARCHAR" property="reviewObjection"/>
        <result column="accounting_time" jdbcType="TIMESTAMP" property="accountingTime"/>
        <result column="charge_status" jdbcType="VARCHAR" property="chargeStatus"/>
        <result column="charge_time" jdbcType="TIMESTAMP" property="chargeTime"/>
        <result column="charge_record_code" jdbcType="VARCHAR" property="chargeRecordCode"/>
        <result column="data_status" jdbcType="VARCHAR" property="dataStatus"/>
        <result column="source" jdbcType="SMALLINT" property="source"/>
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime"/>
        <result column="recharge_time" jdbcType="TIMESTAMP" property="rechargeTime"/>
        <result column="check_start_time" jdbcType="DATE" property="checkStartTime"/>
        <result column="check_end_time" jdbcType="DATE" property="checkEndTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, recharge_readmeter_id, customer_code, customer_name, customer_type_code, customer_type_name, compensation_no, gasmeter_code, gasmeter_name, use_gas_type_id, use_gas_type_name, gas_meter_type_code, gas_meter_type_name, body_number, customer_charge_no, compensation_price, compensation_gas, compensation_money, accounting_user_id, accounting_user_name, review_user_id, review_user_name, review_time, review_objection, accounting_time, charge_status, charge_time, charge_record_code, data_status, source, record_time, recharge_time, check_start_time, check_end_time
    </sql>

    <!-- 抄表查询映射结果 -->
    <resultMap id="ReadMeterDataResultMap" type="com.cdqckj.gmis.charges.entity.AdjustPriceRecord">
        <result column="id" jdbcType="BIGINT" property="rechargeReadmeterId"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_type_code" jdbcType="VARCHAR" property="customerTypeCode"/>
        <result column="customer_type_name" jdbcType="VARCHAR" property="customerTypeName"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="month_use_gas" jdbcType="DECIMAL" property="compensationGas"/>
        <result column="free_amount" jdbcType="DECIMAL" property="freeAmount"/>
        <result column="gas_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gas_meter_number" jdbcType="VARCHAR" property="bodyNumber"/>
        <result column="customer_charge_no" jdbcType="VARCHAR" property="customerChargeNo"/>
        <result column="amount_mark" jdbcType="VARCHAR" property="settlementType"/>
        <result column="order_source_name" jdbcType="VARCHAR" property="gasMeterTypeCode"/>
        <result column="more_gas_meter_address" jdbcType="VARCHAR" property="gasMeterAddress"/>
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime"/>
    </resultMap>

    <!-- 抄表查询映射结果 -->
    <resultMap id="RechargeResultMap" type="com.cdqckj.gmis.charges.entity.AdjustPriceRecord">
        <result column="id" jdbcType="BIGINT" property="rechargeReadmeterId"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_type_code" jdbcType="VARCHAR" property="customerTypeCode"/>
        <result column="customer_type_name" jdbcType="VARCHAR" property="customerTypeName"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="recharge_gas" jdbcType="DECIMAL" property="compensationGas"/>
        <result column="recharge_money" jdbcType="DECIMAL" property="freeAmount"/>
        <result column="gas_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gas_meter_number" jdbcType="VARCHAR" property="bodyNumber"/>
        <result column="customer_charge_no" jdbcType="VARCHAR" property="customerChargeNo"/>
        <result column="amount_mark" jdbcType="VARCHAR" property="settlementType"/>
        <result column="order_source_name" jdbcType="VARCHAR" property="gasMeterTypeCode"/>
        <result column="more_gas_meter_address" jdbcType="VARCHAR" property="gasMeterAddress"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="rechargeTime"/>
    </resultMap>

    <select id="getIotReadMeterData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultMap="ReadMeterDataResultMap">
        select
        crmd.customer_code,crmd.customer_name,crmd.month_use_gas,crmd.free_amount,crmd.id,crmd.record_time,
        dc.customer_type_code,dc.customer_type_name,dgm.gas_meter_number,dcgmr.customer_charge_no,
        dgm.use_gas_type_id,dgm.use_gas_type_name,dgm.gas_code,pgmv.order_source_name,pgmv.amount_mark,dgm.more_gas_meter_address
        from cb_read_meter_data_iot crmd
        left join da_gas_meter dgm on crmd.gas_meter_code = dgm.gas_code
        left join da_customer dc on crmd.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where dcgmr.data_status = '1' and gca.status = '1' and dc.customer_status = '1'
        and (pgmv.order_source_name = 'CENTER_RECHARGE' or (pgmv.order_source_name = 'REMOTE_READMETER' and crmd.charge_status in ('CHARGED','INVOICED')))
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where crmd.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and crmd.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and crmd.record_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and crmd.record_time <= #{endTime}]]>
        </if>
    </select>
    <select id="countIotReadMeterData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultType="integer">
        select
        count(crmd.id)
        from cb_read_meter_data_iot crmd
        left join da_gas_meter dgm on crmd.gas_meter_code = dgm.gas_code
        left join da_customer dc on crmd.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where dcgmr.data_status = '1' and gca.status = '1' and dc.customer_status = '1'
        and (pgmv.order_source_name = 'CENTER_RECHARGE' or (pgmv.order_source_name = 'REMOTE_READMETER' and crmd.charge_status in ('CHARGED','INVOICED')))
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where crmd.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and crmd.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and crmd.record_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and crmd.record_time <= #{endTime}]]>
        </if>
    </select>

    <select id="getReadMeterData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultMap="ReadMeterDataResultMap">
        select
        crmd.customer_code,crmd.customer_name,crmd.month_use_gas,crmd.free_amount,crmd.id,crmd.record_time,
        dc.customer_type_code,dc.customer_type_name,dgm.gas_meter_number,dcgmr.customer_charge_no,
        dgm.use_gas_type_id,dgm.use_gas_type_name,dgm.gas_code,pgmv.order_source_name,pgmv.amount_mark,dgm.more_gas_meter_address
        from cb_read_meter_data crmd
        left join da_gas_meter dgm on crmd.gas_meter_code = dgm.gas_code
        left join da_customer dc on crmd.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where crmd.charge_status in ('CHARGED','INVOICED')
        and dcgmr.data_status = '1' and gca.status = '1' and dc.customer_status = '1'
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where crmd.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and crmd.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and crmd.record_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and crmd.record_time <= #{endTime}]]>
        </if>
    </select>

    <select id="countReadMeterData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultType="integer">
        select
        count(crmd.id)
        from cb_read_meter_data crmd
        left join da_gas_meter dgm on crmd.gas_meter_code = dgm.gas_code
        left join da_customer dc on crmd.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where crmd.charge_status in ('CHARGED','INVOICED')
        and dcgmr.data_status = '1' and gca.status = '1' and dc.customer_status = '1'
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where crmd.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and crmd.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and crmd.record_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and crmd.record_time <= #{endTime}]]>
        </if>
    </select>

    <select id="getRechargeData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultMap="RechargeResultMap">
        select grr.customer_code,grr.customer_name,grr.recharge_gas,grr.id,grr.create_time,grr.recharge_money,
        dc.customer_type_code,dc.customer_type_name,dgm.gas_meter_number,dcgmr.customer_charge_no,
        dgm.use_gas_type_id,dgm.use_gas_type_name,dgm.gas_code,pgmv.order_source_name,pgmv.amount_mark,dgm.more_gas_meter_address
        from gt_recharge_record grr
        left join da_gas_meter dgm on grr.gasmeter_code = dgm.gas_code
        left join da_customer dc on grr.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where grr.money_flow_status = 'success' and gca.status = '1' and dc.customer_status = '1'
        and grr.data_status = '1'
        and dcgmr.data_status = '1'
        and (pgmv.order_source_name = 'REMOTE_RECHARGE' or pgmv.order_source_name = 'IC_RECHARGE')
        and pgmv.amount_mark = 'GAS'
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where grr.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and grr.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and grr.create_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and grr.create_time <= #{endTime}]]>
        </if>
    </select>

    <select id="countRechargeData" parameterType="com.cdqckj.gmis.charges.entity.AdjustPrice"
            resultType="integer">
        select count(grr.id)
        from gt_recharge_record grr
        left join da_gas_meter dgm on grr.gasmeter_code = dgm.gas_code
        left join da_customer dc on grr.customer_code = dc.customer_code
        left join gt_customer_account gca on gca.customer_code = dc.customer_code
        left join pt_gas_meter_version pgmv on pgmv.id = dgm.gas_meter_version_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = dgm.gas_code
        where grr.money_flow_status = 'success' and gca.status = '1' and dc.customer_status = '1'
        and grr.data_status = '1'
        and dcgmr.data_status = '1'
        and (pgmv.order_source_name = 'REMOTE_RECHARGE' or pgmv.order_source_name = 'IC_RECHARGE')
        and pgmv.amount_mark = 'GAS'
        and not exists
        (select gapr.recharge_readmeter_id from gt_adjust_price_record gapr where grr.id =  gapr.recharge_readmeter_id)
        <if test="useGasTypeId != null and useGasTypeId!= ''">
            and dgm.use_gas_type_id = #{useGasTypeId}
        </if>
        <if test="customerName != null and customerName != ''">
            and grr.customer_name like concat(#{customerName},'%')
        </if>
        <if test="moreGasMeterAddress != null and moreGasMeterAddress != ''">
            and dgm.more_gas_meter_address like concat('%',#{moreGasMeterAddress},'%')
        </if>
        <if test="gasMeterNumber != null and gasMeterNumber != ''">
            and dgm.gas_meter_number = #{gasMeterNumber}
        </if>
        <if test="startTime != null">
            <![CDATA[and grr.create_time >= #{startTime}]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and grr.create_time <= #{endTime}]]>
        </if>
    </select>

    <select id="pageAdjustPrice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gt_recharge_record ${ew.customSqlSegment}
    </select>

</mapper>
