<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.ChargeItemRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.ChargeItemRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gasmeter_name" jdbcType="VARCHAR" property="gasmeterName"/>
        <result column="toll_item_scene" jdbcType="VARCHAR" property="tollItemScene"/>
        <result column="toll_item_id" jdbcType="BIGINT" property="tollItemId"/>
        <result column="charge_item_name" jdbcType="VARCHAR" property="chargeItemName"/>
        <result column="charge_item_time" jdbcType="TIMESTAMP" property="chargeItemTime"/>
        <result column="charge_item_source_code" jdbcType="VARCHAR" property="chargeItemSourceCode"/>
        <result column="charge_item_source_name" jdbcType="VARCHAR" property="chargeItemSourceName"/>
        <result column="charge_no" jdbcType="VARCHAR" property="chargeNo"/>
        <result column="charge_item_source_id" jdbcType="VARCHAR" property="chargeItemSourceId"/>
        <result column="charge_item_money" jdbcType="DECIMAL" property="chargeItemMoney"/>
        <result column="charge_item_gas" jdbcType="DECIMAL" property="chargeItemGas"/>
        <result column="money_method" jdbcType="VARCHAR" property="moneyMethod"/>
        <result column="recharge_give_gas" jdbcType="DECIMAL" property="rechargeGiveGas"/>
        <result column="recharge_give_money" jdbcType="DECIMAL" property="rechargeGiveMoney"/>
        <result column="is_reduction_item" jdbcType="TINYINT" property="isReductionItem"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="total_count" jdbcType="INTEGER" property="totalCount"/>
        <result column="is_ladder_price" jdbcType="TINYINT" property="isLadderPrice"/>
        <result column="ladder_price_detail" jdbcType="VARCHAR" property="ladderPriceDetail"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, customer_code,
        customer_name, gasmeter_code, gasmeter_name,charge_item_scene, charge_item_name, charge_item_time,
        charge_item_source_code, charge_item_source_name, charge_no, charge_item_source_id, charge_item_money,
        charge_item_gas, money_method, recharge_give_gas, recharge_give_money, is_reduction_item,
        total_count,is_ladder_price,ladder_price_detail,price,
        create_user_id, create_user_name, remark, data_status
    </sql>

    <select id="getChangeItemByChargeNo" resultType="com.cdqckj.gmis.charges.entity.ChargeItemRecord">
        SELECT * FROM gt_charge_item_record WHERE charge_no = #{chargeNo}
    </select>

    <select id="pageListByMeterCustomerCode" resultType="com.cdqckj.gmis.charges.dto.ChargeItemRecordResDTO">
        SELECT t1.*,t2.refund_status FROM gt_charge_item_record t1
            left join gt_charge_record t2 on t1.charge_no=t2.charge_no
        WHERE
            t1.customer_code=#{record.customerCode}  and gasmeter_code = #{record.gasmeterCode} and t2.charge_status = 'CHARGED'
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="pageListByMeterCustomerCodeCount"  resultType="java.lang.Integer">
        SELECT count(t1.id) FROM gt_charge_item_record t1
        left join gt_charge_record t2 on t1.charge_no=t2.charge_no
        WHERE
        t1.customer_code=#{record.customerCode}  and gasmeter_code = #{record.gasmeterCode} and t2.charge_status = 'CHARGED'
    </select>

    <select id="getLastUpdateTimeAndCount" parameterType="java.lang.String" resultType="com.cdqckj.gmis.charges.vo.ChargeItemVO" >
        SELECT
            count(1) AS count,
            MAX(update_time) AS updateTime
        FROM
            gt_charge_item_record
        WHERE
            gasmeter_code = #{gasMeterCode}
        AND charge_item_source_code = "GASFEE"
        AND data_status = 1
    </select>

    <select id="stsGasFeeAndType" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBasePlusVo">
        SELECT
            CAST(SUM( gcir.charge_item_money ) AS SIGNED) amount1,
            CAST(SUM( gcir.charge_item_gas ) AS SIGNED) amount2,
            dc.customer_type_code type,
            dc.customer_type_name typeName
        FROM
            gt_charge_item_record gcir
            INNER JOIN gt_charge_record gcr ON gcr.charge_no = gcir.charge_no
            INNER JOIN da_customer dc ON dc.customer_code = gcr.customer_code
        WHERE
            gcr.charge_status = 'CHARGED' AND gcr.data_status = 1 AND gcir.charge_item_source_code = 'GASFEE'
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND gcir.company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND gcir.org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.businessHallId != null">
                AND gcir.business_hall_id = #{stsSearchParam.businessHallId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND gcir.create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND gcir.create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
            GROUP BY dc.customer_type_code
    </select>

    <select id="stsCardGasMeter" resultType="java.math.BigDecimal">
        SELECT
            COALESCE(SUM(gcir.charge_item_gas),0)
        FROM
            gt_charge_item_record gcir INNER JOIN gt_charge_record gcr ON gcr.charge_no = gcir.charge_no
        WHERE
            gcr.charge_status = 'CHARGED' AND gcr.data_status = 1 AND gcir.charge_item_source_code = 'RECHARGE'
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND gcir.company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND gcir.org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.businessHallId != null">
                AND gcir.business_hall_id = #{stsSearchParam.businessHallId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND gcir.create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND gcir.create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
    </select>

</mapper>
