<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.CustomerSceneChargeOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.CustomerSceneChargeOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gasmeter_name" jdbcType="VARCHAR" property="gasmeterName"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="scene_charge_no" jdbcType="VARCHAR" property="sceneChargeNo"/>
        <result column="charge_no" jdbcType="VARCHAR" property="chargeNo"/>
        <result column="toll_item_id" jdbcType="BIGINT" property="tollItemId"/>
        <result column="toll_item_scene" jdbcType="VARCHAR" property="tollItemScene"/>
        <result column="toll_item_name" jdbcType="VARCHAR" property="tollItemName"/>
        <result column="business_no" jdbcType="VARCHAR" property="businessNo"/>
        <result column="charge_money" jdbcType="DECIMAL" property="chargeMoney"/>
        <result column="discount_money" jdbcType="DECIMAL" property="discountMoney"/>
        <result column="total_money" jdbcType="DECIMAL" property="totalMoney"/>
        <result column="charge_status" jdbcType="VARCHAR" property="chargeStatus"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="updae_time" jdbcType="TIMESTAMP" property="updaeTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,
        company_code, company_name, org_id, org_name, customer_code, customer_name, gasmeter_code, gasmeter_name, use_gas_type_id, use_gas_type_name, scene_charge_no, charge_no, toll_item_id, toll_item_scene, toll_item_name, business_no, charge_money, discount_money, total_money, charge_status, data_status, updae_time
    </sql>

    <update id="updateChargeStatusComplete" >
        update gt_customer_scene_charge_order set charge_status='CHARGED',charge_no=#{chargeNo},data_status=1 where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and charge_status='UNCHARGE'
    </update>

    <update id="updateChargeStatusUncharge" >
        update gt_customer_scene_charge_order set charge_status='UNCHARGE' where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and charge_status='CHARGED'
    </update>

</mapper>
