<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.GasmeterSettlementDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.GasmeterSettlementDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gasmeter_name" jdbcType="VARCHAR" property="gasmeterName"/>
        <result column="settlement_no" jdbcType="VARCHAR" property="settlementNo"/>
        <result column="readmeter_data_id" jdbcType="BIGINT" property="readmeterDataId"/>
        <result column="readmeter_month" jdbcType="VARCHAR" property="readmeterMonth"/>
        <result column="population_float_money" jdbcType="DECIMAL" property="populationFloatMoney"/>
        <result column="gas" jdbcType="DECIMAL" property="gas"/>
        <result column="gas_money" jdbcType="DECIMAL" property="gasMoney"/>
        <result column="discount_money" jdbcType="DECIMAL" property="discountMoney"/>
        <result column="give_deduction_money" jdbcType="DECIMAL" property="giveDeductionMoney"/>
        <result column="precharge_deduction_money" jdbcType="DECIMAL" property="prechargeDeductionMoney"/>
        <result column="give_book_pre_money" jdbcType="DECIMAL" property="giveBookPreMoney"/>
        <result column="give_back_after_money" jdbcType="DECIMAL" property="giveBackAfterMoney"/>
        <result column="settlement_pre_money" jdbcType="DECIMAL" property="settlementPreMoney"/>
        <result column="settlement_after_money" jdbcType="DECIMAL" property="settlementAfterMoney"/>
        <result column="arrears_money" jdbcType="DECIMAL" property="arrearsMoney"/>
        <result column="billing_date" jdbcType="DATE" property="billingDate"/>
        <result column="latepay_amount" jdbcType="DECIMAL" property="latepayAmount"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="ladder_charge_mode_id" jdbcType="BIGINT" property="ladderChargeModeId"/>
        <result column="ladder_charge_mode_name" jdbcType="VARCHAR" property="ladderChargeModeName"/>
        <result column="gas_1" jdbcType="INTEGER" property="gas1"/>
        <result column="price_1" jdbcType="DECIMAL" property="price1"/>
        <result column="money_1" jdbcType="DECIMAL" property="money1"/>
        <result column="gas_2" jdbcType="INTEGER" property="gas2"/>
        <result column="price_2" jdbcType="DECIMAL" property="price2"/>
        <result column="money_2" jdbcType="DECIMAL" property="money2"/>
        <result column="gas_3" jdbcType="INTEGER" property="gas3"/>
        <result column="price_3" jdbcType="DECIMAL" property="price3"/>
        <result column="money_3" jdbcType="DECIMAL" property="money3"/>
        <result column="gas_4" jdbcType="INTEGER" property="gas4"/>
        <result column="price_4" jdbcType="DECIMAL" property="price4"/>
        <result column="money_4" jdbcType="DECIMAL" property="money4"/>
        <result column="gas_5" jdbcType="INTEGER" property="gas5"/>
        <result column="price_5" jdbcType="DECIMAL" property="price5"/>
        <result column="money_5" jdbcType="DECIMAL" property="money5"/>
        <result column="gas_6" jdbcType="INTEGER" property="gas6"/>
        <result column="price_6" jdbcType="DECIMAL" property="price6"/>
        <result column="money_6" jdbcType="DECIMAL" property="money6"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, customer_code, customer_name, gasmeter_code, gasmeter_name, settlement_no, readmeter_data_id, readmeter_month, population_float_money, gas, gas_money, discount_money, give_deduction_money, precharge_deduction_money, give_book_pre_money, give_back_after_money, settlement_pre_money, settlement_after_money, arrears_money, billing_date, latepay_amount, use_gas_type_id, use_gas_type_name, price, ladder_charge_mode_id, ladder_charge_mode_name, gas_1, price_1, money_1, gas_2, price_2, money_2, gas_3, price_3, money_3, gas_4, price_4, money_4, gas_5, price_5, money_5, gas_6, price_6, money_6
    </sql>

    <select id="stsGeneralGasMeterUseGas" resultType="java.math.BigDecimal">
        SELECT
            SUM(ggsd.gas)
        FROM
            gt_gasmeter_settlement_detail ggsd INNER JOIN cb_read_meter_data cbmd ON ggsd.readmeter_data_id = cbmd.id
        WHERE ggsd.data_status = 1 AND ggsd.org_id IN ${dataScope}
        <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
            AND ggsd.company_code = #{stsSearchParam.companyCode}
        </if>
        <if test="stsSearchParam.orgId != null">
            AND ggsd.org_id = #{stsSearchParam.orgId}
        </if>
        <if test="stsSearchParam.createUserId != null">
            AND ggsd.create_user = #{stsSearchParam.createUserId}
        </if>
        <if test="stsSearchParam.startDay != null">
            AND cbmd.read_time <![CDATA[>=]]> #{stsSearchParam.startDay}
        </if>
        <if test="stsSearchParam.endDay != null">
            AND cbmd.read_time <![CDATA[<]]> #{stsSearchParam.endDay}
        </if>
    </select>

</mapper>
