<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.RechargeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.RechargeRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="VARCHAR" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="charge_no" jdbcType="VARCHAR" property="chargeNo"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="gasmeter_name" jdbcType="VARCHAR" property="gasmeterName"/>
        <result column="gas_meter_type_code" jdbcType="VARCHAR" property="gasMeterTypeCode"/>
        <result column="gas_meter_type_name" jdbcType="VARCHAR" property="gasMeterTypeName"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="recharge_money" jdbcType="DECIMAL" property="rechargeMoney"/>
        <result column="recharge_gas" jdbcType="DECIMAL" property="rechargeGas"/>
        <result column="recharge_give_gas" jdbcType="DECIMAL" property="rechargeGiveGas"/>
        <result column="recharge_give_money" jdbcType="DECIMAL" property="rechargeGiveMoney"/>
        <result column="total_money" jdbcType="DECIMAL" property="totalMoney"/>
        <result column="total_gas" jdbcType="DECIMAL" property="totalGas"/>
        <result column="money_flow_status" jdbcType="VARCHAR" property="moneyFlowStatus"/>
        <result column="money_flow_serial_no" jdbcType="VARCHAR" property="moneyFlowSerialNo"/>

        <result column="charge_status" jdbcType="VARCHAR" property="chargeStatus"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, customer_code, customer_name, charge_no, gasmeter_code, gasmeter_name, gas_meter_type_code, gas_meter_type_name, use_gas_type_id, use_gas_type_name, recharge_money, recharge_gas, recharge_give_gas, recharge_give_money, total_money, total_gas, money_flow_status,money_flow_serial_no, charge_status, remark, data_status, create_user_id, create_user_name
    </sql>

</mapper>
