<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.charges.dao.SummaryBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.charges.entity.SummaryBill">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="cash_amount" jdbcType="DECIMAL" property="cashAmount"/>
        <result column="bank_transfer_amount" jdbcType="DECIMAL" property="bankTransferAmount"/>
        <result column="alipay_amount" jdbcType="DECIMAL" property="alipayAmount"/>
        <result column="wechat_amount" jdbcType="DECIMAL" property="wechatAmount"/>
        <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount"/>
        <result column="pre_deposit_deduction" jdbcType="DECIMAL" property="preDepositDeduction"/>
        <result column="receipt_invoice_total_num" jdbcType="INTEGER" property="receiptInvoiceTotalNum"/>
        <result column="receipt_total_num" jdbcType="INTEGER" property="receiptTotalNum"/>
        <result column="blue_invoice_total_num" jdbcType="INTEGER" property="blueInvoiceTotalNum"/>
        <result column="red_invoice_total_num" jdbcType="INTEGER" property="redInvoiceTotalNum"/>
        <result column="invalid_invoice_total_num" jdbcType="INTEGER" property="invalidInvoiceTotalNum"/>
        <result column="receipt_invoice_total_amount" jdbcType="DECIMAL" property="receiptInvoiceTotalAmount"/>
        <result column="operator_no" jdbcType="VARCHAR" property="operatorNo"/>
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
        <result column="summary_start_date" jdbcType="TIMESTAMP" property="summaryStartDate"/>
        <result column="summary_end_date" jdbcType="TIMESTAMP" property="summaryEndDate"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="summary_bill_status" jdbcType="VARCHAR" property="summaryBillStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, total_amount, cash_amount, bank_transfer_amount, alipay_amount, wechat_amount, refund_amount, pre_deposit_deduction, receipt_invoice_total_num, receipt_total_num, blue_invoice_total_num, red_invoice_total_num, invalid_invoice_total_num, receipt_invoice_total_amount, operator_no, operator_name, summary_start_date, summary_end_date, data_status, summary_bill_status
    </sql>

    <resultMap id="ChargeRecordResultMap" type="com.cdqckj.gmis.charges.entity.ChargeRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="charge_no" jdbcType="VARCHAR" property="chargeNo"/>
        <result column="charge_method_code" jdbcType="VARCHAR" property="chargeMethodCode"/>
        <result column="charge_method_name" jdbcType="VARCHAR" property="chargeMethodName"/>
        <result column="payable_money" jdbcType="DECIMAL" property="payableMoney"/>
        <result column="charge_money" jdbcType="DECIMAL" property="chargeMoney"/>
        <result column="precharge_money" jdbcType="DECIMAL" property="prechargeMoney"/>
        <result column="recharge_money" jdbcType="DECIMAL" property="rechargeMoney"/>
        <result column="recharge_gas" jdbcType="DECIMAL" property="rechargeGas"/>
        <result column="recharge_give_gas" jdbcType="DECIMAL" property="rechargeGiveGas"/>
        <result column="recharge_give_money" jdbcType="DECIMAL" property="rechargeGiveMoney"/>
        <result column="reduction_money" jdbcType="DECIMAL" property="reductionMoney"/>
        <result column="precharge_deduction_money" jdbcType="DECIMAL" property="prechargeDeductionMoney"/>
        <result column="receivable_money" jdbcType="DECIMAL" property="receivableMoney"/>
        <result column="actual_income_money" jdbcType="DECIMAL" property="actualIncomeMoney"/>
        <result column="give_change" jdbcType="DECIMAL" property="giveChange"/>
        <result column="insurance_contract_no" jdbcType="VARCHAR" property="insuranceContractNo"/>
        <result column="insurance_premium" jdbcType="DECIMAL" property="insurancePremium"/>
        <result column="insurance_start_date" jdbcType="DATE" property="insuranceStartDate"/>
        <result column="insurance_end_date" jdbcType="DATE" property="insuranceEndDate"/>
        <result column="give_deduction_money" jdbcType="DECIMAL" property="giveDeductionMoney"/>
        <result column="give_book_pre_money" jdbcType="DECIMAL" property="giveBookPreMoney"/>
        <result column="give_book_after_money" jdbcType="DECIMAL" property="giveBookAfterMoney"/>
        <result column="charge_pre_money" jdbcType="DECIMAL" property="chargePreMoney"/>
        <result column="charge_after_money" jdbcType="DECIMAL" property="chargeAfterMoney"/>
        <result column="charge_status" jdbcType="VARCHAR" property="chargeStatus"/>
        <result column="refund_status" jdbcType="VARCHAR" property="refundStatus"/>
        <result column="summary_bill_status" jdbcType="VARCHAR" property="summaryBillStatus"/>
        <result column="invoice_status" jdbcType="VARCHAR" property="invoiceStatus"/>
        <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType"/>
        <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_user_name" jdbcType="VARCHAR" property="createUserName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <sql id="Charge_Record_Column_List">
        gcr.id,gcr.create_user,gcr.create_time,gcr.update_user,gcr.update_time,
        gcr.company_code, gcr.company_name, gcr.org_id, gcr.org_name, gcr.business_hall_id, gcr.business_hall_name, gcr.customer_code,
        gcr.customer_name, gcr.charge_no, gcr.charge_method_code, gcr.charge_method_name, gcr.payable_money,
        gcr.charge_money, gcr.precharge_money, gcr.recharge_money, gcr.recharge_gas, gcr.recharge_give_gas,
        gcr.recharge_give_money, gcr.reduction_money, gcr.precharge_deduction_money, gcr.receivable_money,
        gcr.actual_income_money, gcr.give_change, gcr.insurance_contract_no, gcr.insurance_premium, gcr.insurance_start_date,
        gcr.insurance_end_date, gcr.give_deduction_money, gcr.give_book_pre_money, gcr.give_book_after_money,
        gcr.charge_pre_money, gcr.charge_after_money, gcr.charge_status, gcr.refund_status,gcr.summary_bill_status, gcr.invoice_status,
        gcr.invoice_type, gcr.invoice_no,
        gcr.create_user_id, gcr.create_user_name, gcr.remark, gcr.data_status
    </sql>

    <select id="queryChargeRecordList" parameterType="long" resultMap="ChargeRecordResultMap">
        select
            <include refid="Charge_Record_Column_List"></include>
        from gt_charge_record gcr
        left join gt_summary_bill_detail gsbd on gcr.id = gsbd.source_id
        left join gt_summary_bill gsb on gsb.id = gsbd.summary_bill_id
        left join da_customer_gas_meter_related dcgmr on dcgmr.gas_meter_code = gcr.gas_meter_code
        left join gt_invoice gi on gcr.charge_no = gi.pay_no
        <where>
         dcgmr.data_status = '1'
         and gcr.summary_bill_status = 'BILLED'
         and gsb.id = #{summaryId}
            <!--<if test="params != null and params.size() > 0">
                 and gcr.id in
                <foreach item="params" index="index" collection="params"
                         open="(" separator="," close=")">
                    #{params}
                </foreach>
            </if>-->
        </where>
    </select>

</mapper>
