<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.DetailedAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.BatchDetailedAddress">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="community_id" jdbcType="BIGINT" property="communityId"/>
        <result column="building" jdbcType="SMALLINT" property="building"/>
        <result column="unit" jdbcType="SMALLINT" property="unit"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="more_detail_address" jdbcType="VARCHAR" property="moreDetailAddress"/>
        <result column="flag" jdbcType="SMALLINT" property="flag"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="BIGINT" property="deleteUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        community_id, building, unit, detail_address, more_detail_address, flag, data_status, delete_time, delete_user
    </sql>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pz_detailed_address ${ew.customSqlSegment}
    </select>
</mapper>
