<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.GiveReductionConfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.GiveReductionConf">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
        <result column="start_time" jdbcType="DATE" property="startTime"/>
        <result column="end_time" jdbcType="DATE" property="endTime"/>
        <result column="give_gas" jdbcType="DECIMAL" property="giveGas"/>
        <result column="activity_money_type" jdbcType="SMALLINT" property="activityMoneyType"/>
        <result column="activity_money" jdbcType="DECIMAL" property="activityMoney"/>
        <result column="activity_percent" jdbcType="DECIMAL" property="activityPercent"/>
        <result column="activity_scene" jdbcType="VARCHAR" property="activityScene"/>
        <result column="use_gas_types" jdbcType="VARCHAR" property="useGasTypes"/>
        <result column="toll_item_scene" jdbcType="VARCHAR" property="tollItemScene"/>
        <result column="toll_item_id" jdbcType="BIGINT" property="tollItemId"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_time,create_user,update_time,update_user,
        activity_name, start_time, end_time, give_gas, activity_money_type, activity_money, activity_percent, activity_scene, use_gas_types,toll_item_scene, data_status, delete_status
    </sql>

</mapper>
