<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.PenaltyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.Penalty">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="charge_day" jdbcType="INTEGER" property="chargeDay"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="compound_interest" jdbcType="DECIMAL" property="compoundInterest"/>
        <result column="principal_cap" jdbcType="DECIMAL" property="principalCap"/>
        <result column="fixed_cap" jdbcType="DECIMAL" property="fixedCap"/>
        <result column="activation_time" jdbcType="TIMESTAMP" property="activationTime"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_time,create_user,update_time,update_user,
        use_gas_type_id, charge_day, rate, compound_interest, principal_cap, fixed_cap, activation_time, data_status
    </sql>
    <select id="queryRecentRecord" resultType="com.cdqckj.gmis.operateparam.entity.Penalty">
        SELECT * FROM pz_penalty where 1=1 ORDER BY id desc  LIMIT 1
    </select>
</mapper>
