<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.PreferentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.Preferential">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="PZ__id" jdbcType="VARCHAR" property="pzId"/>
        <result column="use_gas_type_code" jdbcType="VARCHAR" property="useGasTypeCode"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="preferential_name" jdbcType="VARCHAR" property="preferentialName"/>
        <result column="preferential_activate" jdbcType="SMALLINT" property="preferentialActivate"/>
        <result column="is_always_preferential" jdbcType="SMALLINT" property="isAlwaysPreferential"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="preferential_gas" jdbcType="DECIMAL" property="preferentialGas"/>
        <result column="preferential_type" jdbcType="SMALLINT" property="preferentialType"/>
        <result column="preferential_money" jdbcType="DECIMAL" property="preferentialMoney"/>
        <result column="preferential_percent" jdbcType="DECIMAL" property="preferentialPercent"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_time,create_user,update_time,update_user,
        PZ__id, use_gas_type_code, use_gas_type_name, preferential_name, preferential_activate, is_always_preferential, start_time, end_time, data_status, preferential_gas, preferential_type, preferential_money, preferential_percent, delete_status
    </sql>

</mapper>
