<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.PriceMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.PriceMapping">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="price_id" jdbcType="BIGINT" property="priceId"/>
        <result column="price_num" jdbcType="INTEGER" property="priceNum"/>
        <result column="use_gas_type_num" jdbcType="INTEGER" property="useGasTypeNum"/>
        <result column="gas_meter_code" jdbcType="VARCHAR" property="gasMeterCode"/>
        <result column="pre_price_id" jdbcType="BIGINT" property="prePriceId"/>
        <result column="pre_price_num" jdbcType="INTEGER" property="prePriceNum"/>
        <result column="pre_use_gas_type_num" jdbcType="INTEGER" property="preUseGasTypeNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        price_id, price_num, use_gas_type_num, gas_meter_code, pre_price_id, pre_price_num, pre_use_gas_type_num
    </sql>

    <select id="getGasMeterPriceMapping" resultType="com.cdqckj.gmis.operateparam.entity.PriceMapping">
        SELECT * FROM pz_price_mapping WHERE gas_meter_code = #{gasCode} ORDER BY price_num DESC, create_time DESC LIMIT 1
    </select>

</mapper>
