<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.operateparam.dao.UseGasTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.operateparam.entity.UseGasType">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_id" jdbcType="CHAR" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="gas_type" jdbcType="VARCHAR" property="gasType"/>
        <result column="price_type" jdbcType="VARCHAR" property="priceType"/>
        <result column="user_type_id" jdbcType="BIGINT" property="userTypeId"/>
        <result column="user_type_name" jdbcType="VARCHAR" property="userTypeName"/>
        <result column="max_charge_gas" jdbcType="INTEGER" property="maxChargeGas"/>
        <result column="max_charge_money" jdbcType="INTEGER" property="maxChargeMoney"/>
        <result column="alarm_gas" jdbcType="INTEGER" property="alarmGas"/>
        <result column="alarm_money" jdbcType="INTEGER" property="alarmMoney"/>
        <result column="open_decrement" jdbcType="SMALLINT" property="openDecrement"/>
        <result column="decrement" jdbcType="INTEGER" property="decrement"/>
        <result column="population_growth" jdbcType="SMALLINT" property="populationGrowth"/>
        <result column="population_base" jdbcType="INTEGER" property="populationBase"/>
        <result column="population_increase" jdbcType="INTEGER" property="populationIncrease"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="create_use_name" jdbcType="VARCHAR" property="createUseName"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="BIGINT" property="deleteUser"/>
        <result column="delete_user_name" jdbcType="VARCHAR" property="deleteUserName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        company_id, company_name, org_id, use_gas_type_name, gas_type, price_type, user_type_id, user_type_name, max_charge_gas, max_charge_money, alarm_gas, alarm_money, open_decrement, decrement, population_growth, population_base, population_increase, data_status, create_use_name, update_user_name, delete_time, delete_user, delete_user_name
    </sql>

    <select id="queryRentUseGasType" resultType="com.cdqckj.gmis.operateparam.entity.UseGasType">
        SELECT*FROM pz_use_gas_type t ORDER BY t.create_time DESC LIMIT 1
    </select>

</mapper>
