<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.systemparam.dao.PayInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.systemparam.entity.PayInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="CHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="account_level" jdbcType="SMALLINT" property="accountLevel"/>
        <result column="used_parent_pay" jdbcType="SMALLINT" property="usedParentPay"/>
        <result column="pay_code" jdbcType="VARCHAR" property="payCode"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="native_merchant_no" jdbcType="VARCHAR" property="nativeMerchantNo"/>
        <result column="third_merchant_no" jdbcType="VARCHAR" property="thirdMerchantNo"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="api_secret" jdbcType="VARCHAR" property="apiSecret"/>
        <result column="merchant_private_key" jdbcType="VARCHAR" property="merchantPrivateKey"/>
        <result column="alipay_public_key" jdbcType="VARCHAR" property="alipayPublicKey"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="pay_status" jdbcType="SMALLINT" property="payStatus"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
        <result column="service_status" jdbcType="SMALLINT" property="serviceStatus"/>
        <result column="service_ratio" jdbcType="DECIMAL" property="serviceRatio"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="interface_mode" jdbcType="SMALLINT" property="interfaceMode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time, serviceRatio, serviceStatus, data_status, interface_mode,
        company_code, company_name, org_id, org_name, account_level, used_parent_pay, pay_code, pay_type, native_merchant_no, third_merchant_no, app_id, app_secret, api_secret, alipayPublicKey, merchantPrivateKey, remark, pay_status, delete_status
    </sql>

</mapper>
