<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.systemparam.dao.TemplateItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.systemparam.entity.TemplateItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="template_type_id" jdbcType="BIGINT" property="templateTypeId"/>
        <result column="template_type_name" jdbcType="VARCHAR" property="templateTypeName"/>
        <result column="template_code" jdbcType="VARCHAR" property="templateCode"/>
        <result column="template_name" jdbcType="VARCHAR" property="templateName"/>
        <result column="template_title" jdbcType="VARCHAR" property="templateTitle"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="default_file_id" jdbcType="BIGINT" property="defaultFileId"/>
        <result column="item_status" jdbcType="SMALLINT" property="itemStatus"/>
        <result column="item_describe" jdbcType="VARCHAR" property="itemDescribe"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="reject_reson" jdbcType="VARCHAR" property="rejectReson"/>
        <result column="default_status" jdbcType="SMALLINT" property="defaultStatus"/>
        <result column="item_content" jdbcType="LONGVARCHAR" property="itemContent"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time, data_status, item_content, template_title, default_status, reject_reson,
        company_code, company_name, org_id, org_name, template_type_id, template_type_name, template_code, template_name, file_id, default_file_id, file_path, item_status, item_describe, sort_value, delete_status
    </sql>

</mapper>
