<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.systemparam.dao.TollItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.systemparam.entity.TollItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="toll_item_code" jdbcType="VARCHAR" property="tollItemCode"/>
        <result column="toll_item_name" jdbcType="VARCHAR" property="tollItemName"/>
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode"/>
        <result column="scenes" jdbcType="VARCHAR" property="scenes"/>
        <result column="charge_frequency" jdbcType="VARCHAR" property="chargeFrequency"/>
        <result column="settlement_type" jdbcType="VARCHAR" property="settlementType"/>
        <result column="settlement_mode" jdbcType="VARCHAR" property="settlementMode"/>
        <result column="gas" jdbcType="DECIMAL" property="gas"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        level, company_code, company_name, org_id, org_name, toll_item_code, toll_item_name, goods_code, scenes, charge_frequency, settlement_type, settlement_mode, gas, money, data_status
    </sql>

</mapper>
