<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.devicearchive.dao.BatchGasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.devicearchive.entity.BatchGas">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="street_id" jdbcType="CHAR" property="streetId"/>
        <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="install_code" jdbcType="VARCHAR" property="installCode"/>
        <result column="gas_factory_id" jdbcType="CHAR" property="gasFactoryId"/>
        <result column="version_id" jdbcType="VARCHAR" property="versionId"/>
        <result column="buildings" jdbcType="INTEGER" property="buildings"/>
        <result column="unit" jdbcType="INTEGER" property="unit"/>
        <result column="storey" jdbcType="INTEGER" property="storey"/>
        <result column="households" jdbcType="INTEGER" property="households"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        street_id, community_id, install_code, gas_factory_id, version_id, buildings, unit, storey, households, address
    </sql>

</mapper>
