<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.devicearchive.dao.CustomerGasMeterRelatedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.devicearchive.entity.CustomerGasMeterRelated">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_charge_no" jdbcType="VARCHAR" property="customerChargeNo"/>
        <result column="customer_charge_flag" jdbcType="VARCHAR" property="customerChargeFlag"/>
        <result column="gas_code" jdbcType="VARCHAR" property="gasMeterCode"/>
        <result column="related_level" jdbcType="VARCHAR" property="relatedLevel"/>
        <result column="related_deductions" jdbcType="SMALLINT" property="relatedDeductions"/>
        <result column="oper_type" jdbcType="VARCHAR" property="operType"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,company_code,company_name,org_id,org_name,create_time,create_user,update_time,update_user,
        customer_code, gas_code,customer_charge_no,customer_charge_flag, related_level, related_deductions, data_status
    </sql>
    <!--  查询非限制客户表具对于指定的限购用气类型，  是否是黑名单：1黑名单， 0 非黑xx(想查黑名单限制请传 1 )")-->
    <select id="findCustomerDevicePage" parameterType="com.cdqckj.gmis.userarchive.vo.CustomerDeviceVO" resultType="com.cdqckj.gmis.userarchive.dto.CustomerDeviceDTO">
        SELECT
        ifNull(bk.status=1,0) as blackListed,
        C.customer_code AS customerCode,
        C.customer_name AS customerName,

        G.gas_meter_address AS gasMeterAddress,
        G.use_gas_type_name AS useGasTypeName,
        G.gas_code AS gasCode, C.telphone,

        f.gas_meter_factory_name AS gasMeterFactoryName,
        v.gas_meter_version_name AS gasMeterVersionName,
                G.more_gas_meter_address as moreGasMeterAddress,
               G.gas_meter_number as gasMeterNumber,
        R.customer_charge_no as customerChargeNo,
        R.customer_charge_flag as customerChargeFlag

        FROM da_customer_gas_meter_related R
        left join da_customer_blacklist bk on bk.customer_code = R.customer_code
        left JOIN da_customer C ON R.customer_code = C.customer_code
        <if test="params.customerChargeNo!=null and params.customerChargeNo!= ''">
            AND R.customer_charge_no = #{params.customerChargeNo}
        </if>
        left JOIN da_gas_meter G ON R.gas_meter_code = G.gas_code
        left join pt_gas_meter_factory f on G.gas_meter_factory_id = f.id
        left join pt_gas_meter_version v on G.gas_meter_version_id = v.id
        <where>
            AND R.data_status = 1
            <if test="params.blackListed==1">
                and bk.status=1
            </if>
            <if test="params.customerChargeNo!=null and params.customerChargeNo!= ''">
                AND R.customer_charge_no = #{params.customerChargeNo}
            </if>
            <if test="params.gasMeterNumber!=null and params.gasMeterNumber!= ''">
                AND G.gas_meter_number = #{params.gasMeterNumber}
            </if>

            <if test="params.customerName!=null and params.customerName!= ''">
                AND C.customer_name = #{params.customerName}
            </if>
            <if test="params.provinceId!=null and params.provinceId!= ''">
                AND G.province_id = #{params.provinceId}
            </if>
            <if test="params.cityId!=null and params.cityId!= ''">
                AND G.city_id = #{params.cityId}
            </if>
            <if test="params.areaId!=null and params.areaId!= ''">
                AND G.area_id = #{params.areaId}
            </if>
            <if test="params.streetId!=null and params.streetId!= ''">
                AND G.street_id = #{params.streetId}
            </if>
            <if test="params.communityId!=null and params.communityId!= ''">
                AND G.community_id = #{params.communityId}
            </if>
            <if test="params.moreGasMeterAddress!=null and params.moreGasMeterAddress!= ''">
                AND G.more_gas_meter_address  like concat ('%','${params.moreGasMeterAddress}','%')
            </if>
            <if test="params.gasCode!=null and params.gasCode!= ''">
                AND G.gas_code = #{params.gasCode}
            </if>
            <if test="params.telphone!=null and params.telphone!= ''">
                AND C.telphone = #{params.telphone}
            </if>
            <if test="params.useGasTypeId!=null and params.useGasTypeId.size!= ''">
               AND (
                <foreach collection="params.useGasTypeId" item="item" index="index" separator="or" >
                    G.use_gas_type_id = #{item,jdbcType=BIGINT}
                </foreach>
                )
            </if>
            and R.gas_meter_code not in (select ltc.gas_meter_code from da_purchase_limit_customer ltc where delete_status=0)
        </where>
        ORDER BY R.create_time DESC
    </select>



    <update id="updateBatchUserDevice"  parameterType="java.util.List">
        <foreach collection="userGasVo" item="item" index="index" open="" close="" separator=";">
            update da_customer_gas_meter_related
            <set>
                data_status = ${item.dataStatus}
            </set>
            where gas_meter_code = '${item.gasCode}'
        </foreach>
    </update>


    <select id="queryAllRelation" parameterType="java.lang.String" resultType="com.cdqckj.gmis.devicearchive.vo.MeterRelatedVO">
       SELECT
            related.customer_code,
            related.gas_meter_code,
            related.customer_charge_no,
            related.related_level,
            related.oper_type,
            related.related_deductions,
            related.data_status,
            meter.data_status as gasMeterStatus
        FROM
            da_customer_gas_meter_related related
        LEFT JOIN da_gas_meter meter on related.gas_meter_code = meter.gas_code and meter.delete_status = 0
        WHERE related.customer_code = #{customerCode}
            AND related.data_status = 1
    </select>

    <select id="accountNowTypeFrom" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBaseVo">
        SELECT
            COUNT(1) amount,
            dcgmr.oper_type type
        FROM
            da_customer_gas_meter_related dcgmr INNER JOIN da_customer dc on dcgmr.customer_code = dc.customer_code
        WHERE
            1 = 1
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND dc.company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND dc.org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND dcgmr.create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND dcgmr.create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND dcgmr.create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
            GROUP BY oper_type
    </select>
</mapper>
