<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.devicearchive.dao.CustomerGasMeterBindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.devicearchive.entity.CustomerGasMeterBind">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="bind_customer_code" jdbcType="VARCHAR" property="bindCustomerCode"/>
        <result column="bind_gas_meter_code" jdbcType="VARCHAR" property="bindGasMeterCode"/>
        <result column="bind_status" jdbcType="TINYINT" property="bindStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        customer_code, bind_customer_code, bind_gas_meter_code, bind_status
    </sql>
    <select id="getGasMeterInfo" parameterType="com.cdqckj.gmis.devicearchive.dto.GasMeterBindPrame" resultType="com.cdqckj.gmis.devicearchive.dto.GasMeterBindResult">
        select
         c.customer_code as customerCode,c.customer_name as customerName,c.telphone as telPhone,
         a.gas_code as gasCode,a.gas_meter_address as gasMeterAddress,a.open_account_time as openAccountTime,
         a.node_number as nodeNumber,a.gas_meter_number as gasMeterNumber,a.gas_meter_type_code as gasMeterTypeCode,
         a.gas_meter_type_name as gasMeterTypeName,a.settlement_type as settlementType,a.settlement_mode as settlementMode,
         a.charge_type as chargeType,a.use_gas_type_code as gasMeterTypeCode,a.use_gas_type_name as useGasTypeName,
         b.bind_status as bindStatus
        from da_customer_gas_meter_bind b
        inner join da_gas_meter a on a.gas_code=b.bind_gas_meter_code
        inner join da_customer c  on b.customer_code=c.customer_code
        <where>
                and b.bind_status = 1
            <if test="gasMeterBindPrame.customerCode !=null and gasMeterBindPrame.customerCode!= ''">
                and  b.customer_code=#{gasMeterBindPrame.customerCode}
            </if>
            <if test="gasMeterBindPrame.bindGasMeterCode !=null and gasMeterBindPrame.bindGasMeterCode!= ''">
                and  b.bind_gas_meter_code=#{gasMeterBindPrame.bindGasMeterCode}
            </if>
        </where>
    </select>
</mapper>
