<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.devicearchive.dao.GasMeterInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.devicearchive.entity.GasMeterInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="gasmeter_code" jdbcType="VARCHAR" property="gasmeterCode"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="initial_measurement_base" jdbcType="DECIMAL" property="initialMeasurementBase"/>
        <result column="total_charge_gas" jdbcType="DECIMAL" property="totalChargeGas"/>
        <result column="total_charge_money" jdbcType="DECIMAL" property="totalChargeMoney"/>
        <result column="total_charge_count" jdbcType="INTEGER" property="totalChargeCount"/>
        <result column="total_recharge_meter_count" jdbcType="INTEGER" property="totalRechargeMeterCount"/>
        <result column="total_use_gas" jdbcType="DECIMAL" property="totalUseGas"/>
        <result column="total_use_gas_money" jdbcType="DECIMAL" property="totalUseGasMoney"/>
        <result column="cycle_charge_gas" jdbcType="DECIMAL" property="cycleChargeGas"/>
        <result column="cycle_use_gas" jdbcType="DECIMAL" property="cycleUseGas"/>
        <result column="gas_meter_in_balance" jdbcType="DECIMAL" property="gasMeterInBalance"/>
        <result column="gas_meter_give" jdbcType="DECIMAL" property="gasMeterGive"/>
        <result column="gas_meter_balance" jdbcType="DECIMAL" property="gasMeterBalance"/>
        <result column="price_scheme_id" jdbcType="BIGINT" property="priceSchemeId"/>
        <result column="value_1" jdbcType="DECIMAL" property="value1"/>
        <result column="value_2" jdbcType="DECIMAL" property="value2"/>
        <result column="value_3" jdbcType="DECIMAL" property="value3"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="current_ladder" jdbcType="SMALLINT" property="currentLadder"/>
        <result column="alarm_status" jdbcType="SMALLINT" property="alarmStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,customer_code,data_status,current_ladder,alarm_status
        company_code, company_name, org_id, org_name, gasmeter_code, initial_measurement_base,total_charge_gas, total_charge_money, total_charge_count,total_recharge_meter_count, total_use_gas, total_use_gas_money, cycle_charge_gas, cycle_use_gas, gas_meter_in_balance, gas_meter_balance,gas_meter_give, price_scheme_id, value_1, value_2, value_3
    </sql>

    <!--调价清零-->
    <update id="updateByPriceId" parameterType="com.cdqckj.gmis.devicearchive.vo.MeterInfoVO">
        update da_gas_meter_info t set t.cycle_use_gas = 0 ,t.price_scheme_id = #{meterInfoVO.priceSchemeNewId}
        where t.price_scheme_id = #{meterInfoVO.priceSchemeOldId}
        and t.data_status=1
    </update>

    <!--周期清零-->
    <update id="updateCycleByPriceId" parameterType="com.cdqckj.gmis.devicearchive.vo.MeterInfoVO">
        update da_gas_meter_info t set t.cycle_use_gas = 0
        where t.price_scheme_id = #{meterInfoVO.priceSchemeNewId}
        and t.data_status=1
    </update>

</mapper>
