<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.devicearchive.dao.MeterStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.devicearchive.entity.MeterStock">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="gas_code" jdbcType="VARCHAR" property="gasCode"/>
        <result column="gas_meter_factory_id" jdbcType="BIGINT" property="gasMeterFactoryId"/>
        <result column="gas_meter_factory_name" jdbcType="VARCHAR" property="gasMeterFactoryName"/>
        <result column="gas_meter_version_id" jdbcType="BIGINT" property="gasMeterVersionId"/>
        <result column="gas_meter_version_name" jdbcType="VARCHAR" property="gasMeterVersionName"/>
        <result column="gas_meter_type_id" jdbcType="BIGINT" property="gasMeterTypeId"/>
        <result column="gas_meter_type_name" jdbcType="VARCHAR" property="gasMeterTypeName"/>
        <result column="buy_gas" jdbcType="TIMESTAMP" property="buyGas"/>
        <result column="calibration_time" jdbcType="TIMESTAMP" property="calibrationTime"/>
        <result column="safe_code" jdbcType="VARCHAR" property="safeCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        company_code, company_name, org_id, org_name, gas_code, gas_meter_factory_id, gas_meter_factory_name, gas_meter_version_id, gas_meter_version_name, gas_meter_type_id, gas_meter_type_name, buy_gas, calibration_time, safe_code, remark, data_status, delete_status
    </sql>

</mapper>
