<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.appmanager.dao.AppmanagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.appmanager.entity.Appmanager">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName"/>
        <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode"/>
        <result column="app_type" jdbcType="VARCHAR" property="appType"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="visits_times" jdbcType="INTEGER" property="visitsTimes"/>
        <result column="visits_interval" jdbcType="INTEGER" property="visitsInterval"/>
        <result column="valid_time_start" jdbcType="TIMESTAMP" property="validTimeStart"/>
        <result column="valid_time_end" jdbcType="TIMESTAMP" property="validTimeEnd"/>
        <result column="status" jdbcType="INTEGER" property="validTimeEnd"/>
        <result column="attr1" jdbcType="VARCHAR" property="attr1"/>
        <result column="attr2" jdbcType="VARCHAR" property="attr2"/>
        <result column="attr3" jdbcType="VARCHAR" property="attr3"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,status,
        tenant_id, tenant_name,tenant_code, app_type, app_name, app_id, app_secret, visits_times, visits_interval, valid_time_start, valid_time_end, attr1, attr2, attr3
    </sql>

</mapper>
