<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.invoice.dao.InvoicePushRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.invoice.entity.InvoicePushRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="push_plat" jdbcType="VARCHAR" property="pushPlat"/>
        <result column="push_url" jdbcType="VARCHAR" property="pushUrl"/>
        <result column="push_cmd_name" jdbcType="VARCHAR" property="pushCmdName"/>
        <result column="serial_no" jdbcType="VARCHAR" property="serialNo"/>
        <result column="invoice_id" jdbcType="BIGINT" property="invoiceId"/>
        <result column="invoice_number" jdbcType="VARCHAR" property="invoiceNumber"/>
        <result column="push_data" jdbcType="VARCHAR" property="pushData"/>
        <result column="push_date" jdbcType="DATE" property="pushDate"/>
        <result column="push_result_code" jdbcType="VARCHAR" property="pushResultCode"/>
        <result column="push_result" jdbcType="VARCHAR" property="pushResult"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, push_plat, push_url, push_cmd_name, serial_no, invoice_id, invoice_number, push_data, push_date, push_result_code, push_result, delete_status
    </sql>

</mapper>
