<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.invoice.dao.ReceiptDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.invoice.entity.ReceiptDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="receipt_id" jdbcType="VARCHAR" property="receiptId"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="specification_model" jdbcType="VARCHAR" property="specificationModel"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="tax_rate" jdbcType="DECIMAL" property="taxRate"/>
        <result column="tax_money" jdbcType="DECIMAL" property="taxMoney"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        receipt_id, goods_id, goods_name, specification_model, unit, number, price, money, tax_rate, tax_money
    </sql>

</mapper>
