<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.sms.dao.SignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.sms.entity.Sign">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sign_id" jdbcType="BIGINT" property="signId"/>
        <result column="sign_name" jdbcType="VARCHAR" property="signName"/>
        <result column="sign_type" jdbcType="INTEGER" property="signType"/>
        <result column="document_type" jdbcType="INTEGER" property="documentType"/>
        <result column="international" jdbcType="INTEGER" property="international"/>
        <result column="used_method" jdbcType="INTEGER" property="usedMethod"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="sign_status" jdbcType="SMALLINT" property="signStatus"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
        <result column="review_reply" jdbcType="VARCHAR" property="reviewReply"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,sign_id,create_user, create_time, update_user, update_time, String reviewReply,
        sign_name, sign_type, document_type, international, used_method, sign_status, delete_status
    </sql>

</mapper>
