<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.readmeter.dao.CompensationForReadMeterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.readmeter.entity.CompensationForReadMeter">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="read_meter_data_id" jdbcType="BIGINT" property="readMeterDataId"/>
        <result column="compensation_price" jdbcType="DECIMAL" property="compensationPrice"/>
        <result column="compensation_gas" jdbcType="DECIMAL" property="compensationGas"/>
        <result column="compensation_money" jdbcType="DECIMAL" property="compensationMoney"/>
        <result column="accounting_user_id" jdbcType="BIGINT" property="accountingUserId"/>
        <result column="accounting_user_name" jdbcType="VARCHAR" property="accountingUserName"/>
        <result column="review_user_id" jdbcType="BIGINT" property="reviewUserId"/>
        <result column="review_user_name" jdbcType="VARCHAR" property="reviewUserName"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="review_objection" jdbcType="VARCHAR" property="reviewObjection"/>
        <result column="accounting_time" jdbcType="TIMESTAMP" property="accountingTime"/>
        <result column="charge_status" jdbcType="SMALLINT" property="chargeStatus"/>
        <result column="charge_time" jdbcType="TIMESTAMP" property="chargeTime"/>
        <result column="charge_order_id" jdbcType="BIGINT" property="chargeOrderId"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        read_meter_data_id, compensation_price, compensation_gas, compensation_money, accounting_user_id, accounting_user_name, review_user_id, review_user_name, review_time, review_objection, accounting_time, charge_status, charge_time, charge_order_id, data_status
    </sql>

</mapper>
