<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.readmeter.dao.ReadMeterPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.readmeter.entity.ReadMeterPlan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="read_meter_year" jdbcType="SMALLINT" property="readMeterYear"/>
        <result column="read_meter_month" jdbcType="SMALLINT" property="readMeterMonth"/>
        <result column="plan_start_time" jdbcType="DATE" property="planStartTime"/>
        <result column="plan_end_time" jdbcType="DATE" property="planEndTime"/>
        <result column="total_read_meter_count" jdbcType="INTEGER" property="totalReadMeterCount"/>
        <result column="read_meter_count" jdbcType="INTEGER" property="readMeterCount"/>
        <result column="review_count" jdbcType="INTEGER" property="reviewCount"/>
        <result column="settlement_count" jdbcType="INTEGER" property="settlementCount"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, read_meter_year, read_meter_month, plan_start_time, plan_end_time, total_read_meter_count, read_meter_count, review_count, settlement_count, data_status
    </sql>

    <select id="planPageByReadmeterUser" resultType="com.cdqckj.gmis.readmeter.entity.ReadMeterPlan">
        select b.* from cb_read_meter_plan_scope a
            inner join cb_read_meter_plan b on a.readmeter_plan_id=b.id
        where a.read_meter_user=#{readmeterUserId}

    </select>

</mapper>
