<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.readmeter.dao.ReadMeterPlanScopeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.readmeter.entity.ReadMeterPlanScope">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="readmeter_plan_id" jdbcType="BIGINT" property="readmeterPlanId"/>
        <result column="book_id" jdbcType="BIGINT" property="bookId"/>
        <result column="book_name" jdbcType="VARCHAR" property="bookName"/>
        <result column="read_meter_user" jdbcType="BIGINT" property="readMeterUser"/>
        <result column="read_meter_user_name" jdbcType="VARCHAR" property="readMeterUserName"/>
        <result column="total_read_meter_count" jdbcType="INTEGER" property="totalReadMeterCount"/>
        <result column="read_meter_count" jdbcType="INTEGER" property="readMeterCount"/>
        <result column="review_count" jdbcType="INTEGER" property="reviewCount"/>
        <result column="settlement_count" jdbcType="INTEGER" property="settlementCount"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="delete_status" jdbcType="SMALLINT" property="deleteStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,create_user,create_time,update_user,update_time,readMeterUserName, read_meter_user,
        readmeter_plan_id, book_id, total_read_meter_count, read_meter_count, review_count, settlement_count, data_status
    </sql>

</mapper>
