<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.readmeter.dao.ReadMeterDataIotErrorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.readmeter.entity.ReadMeterDataIotError">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="business_hall_id" jdbcType="CHAR" property="businessHallId"/>
        <result column="business_hall_name" jdbcType="VARCHAR" property="businessHallName"/>
        <result column="customer_id" jdbcType="CHAR" property="customerId"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="gas_meter_code" jdbcType="CHAR" property="gasMeterCode"/>
        <result column="gas_meter_name" jdbcType="VARCHAR" property="gasMeterName"/>
        <result column="gas_meter_address" jdbcType="VARCHAR" property="gasMeterAddress"/>
        <result column="read_meter_year" jdbcType="SMALLINT" property="readMeterYear"/>
        <result column="read_time" jdbcType="DATE" property="readTime"/>
        <result column="read_meter_month" jdbcType="SMALLINT" property="readMeterMonth"/>
        <result column="last_total_gas" jdbcType="DECIMAL" property="lastTotalGas"/>
        <result column="current_total_gas" jdbcType="DECIMAL" property="currentTotalGas"/>
        <result column="month_use_gas" jdbcType="DECIMAL" property="monthUseGas"/>
        <result column="gas_meter_number" jdbcType="CHAR" property="gasMeterNumber"/>
        <result column="cycle_total_use_gas" jdbcType="DECIMAL" property="cycleTotalUseGas"/>
        <result column="use_gas_type_id" jdbcType="BIGINT" property="useGasTypeId"/>
        <result column="use_gas_type_name" jdbcType="VARCHAR" property="useGasTypeName"/>
        <result column="price_scheme_id" jdbcType="BIGINT" property="priceSchemeId"/>
        <result column="process_status" jdbcType="VARCHAR" property="processStatus"/>
        <result column="charge_status" jdbcType="VARCHAR" property="chargeStatus"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
        <result column="read_meter_user_id" jdbcType="BIGINT" property="readMeterUserId"/>
        <result column="read_meter_user_name" jdbcType="VARCHAR" property="readMeterUserName"/>
        <result column="record_user_id" jdbcType="BIGINT" property="recordUserId"/>
        <result column="record_user_name" jdbcType="VARCHAR" property="recordUserName"/>
        <result column="record_time" jdbcType="DATE" property="recordTime"/>
        <result column="review_user_id" jdbcType="BIGINT" property="reviewUserId"/>
        <result column="review_user_name" jdbcType="VARCHAR" property="reviewUserName"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="review_objection" jdbcType="VARCHAR" property="reviewObjection"/>
        <result column="settlement_user_id" jdbcType="BIGINT" property="settlementUserId"/>
        <result column="settlement_user_name" jdbcType="VARCHAR" property="settlementUserName"/>
        <result column="settlement_time" jdbcType="TIMESTAMP" property="settlementTime"/>
        <result column="gas_owe_code" jdbcType="CHAR" property="gasOweCode"/>
        <result column="free_amount" jdbcType="DECIMAL" property="freeAmount"/>
        <result column="data_time" jdbcType="TIMESTAMP" property="dataTime"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="penalty" jdbcType="DECIMAL" property="penalty"/>
        <result column="days_overdue" jdbcType="INTEGER" property="daysOverdue"/>
        <result column="gas_1" jdbcType="DECIMAL" property="gas1"/>
        <result column="price_1" jdbcType="DECIMAL" property="price1"/>
        <result column="gas_2" jdbcType="DECIMAL" property="gas2"/>
        <result column="price_2" jdbcType="DECIMAL" property="price2"/>
        <result column="gas_3" jdbcType="DECIMAL" property="gas3"/>
        <result column="price_3" jdbcType="DECIMAL" property="price3"/>
        <result column="gas_4" jdbcType="DECIMAL" property="gas4"/>
        <result column="price_4" jdbcType="DECIMAL" property="price4"/>
        <result column="gas_5" jdbcType="DECIMAL" property="gas5"/>
        <result column="price_5" jdbcType="DECIMAL" property="price5"/>
        <result column="gas_6" jdbcType="DECIMAL" property="gas6"/>
        <result column="price_6" jdbcType="DECIMAL" property="price6"/>
        <result column="data_bias" jdbcType="INTEGER" property="dataBias"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        company_code, company_name, org_id, org_name, business_hall_id, business_hall_name, customer_id, customer_code, customer_name, gas_meter_code, gas_meter_name, gas_meter_address, read_meter_year, read_time, read_meter_month, last_total_gas, current_total_gas, month_use_gas, gas_meter_number, cycle_total_use_gas, use_gas_type_id, use_gas_type_name, price_scheme_id, process_status, charge_status, data_status, read_meter_user_id, read_meter_user_name, record_user_id, record_user_name, record_time, review_user_id, review_user_name, review_time, review_objection, settlement_user_id, settlement_user_name, settlement_time, gas_owe_code, free_amount, data_time, unit_price, penalty, days_overdue, gas_1, price_1, gas_2, price_2, gas_3, price_3, gas_4, price_4, gas_5, price_5, gas_6, price_6, data_bias
    </sql>

</mapper>
