<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.statistics.dao.AccountNowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.statistics.entity.AccountNow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="t_code" jdbcType="VARCHAR" property="tCode"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="sts_day" jdbcType="TIMESTAMP" property="stsDay"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user, tCode,
        company_code, org_id, business_hall_id, create_user_id, type, amount, sts_day
    </sql>

    <select id="getNowRecord" resultType="com.cdqckj.gmis.statistics.entity.AccountNow">
        SELECT
            *
        FROM
            sts_account_now ${searchStr}
    </select>

    <select id="accountNowTypeFrom" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBaseVo">
        SELECT
            CAST(SUM(amount) AS SIGNED) amount,
            type
        FROM
            sts_account_now
        WHERE 1 = 1
        <if test="searchSql != null and searchSql != ''">
            ${searchSql}
        </if>
        GROUP BY type
    </select>

</mapper>
