<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.statistics.dao.MeterPlanNowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.statistics.entity.MeterPlanNow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="t_code" jdbcType="VARCHAR" property="tCode"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="business_hall_id" jdbcType="BIGINT" property="businessHallId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="read_meter_year" jdbcType="SMALLINT" property="readMeterYear"/>
        <result column="read_meter_month" jdbcType="SMALLINT" property="readMeterMonth"/>
        <result column="total_read_meter_count" jdbcType="INTEGER" property="totalReadMeterCount"/>
        <result column="read_meter_count" jdbcType="INTEGER" property="readMeterCount"/>
        <result column="review_count" jdbcType="INTEGER" property="reviewCount"/>
        <result column="settlement_count" jdbcType="INTEGER" property="settlementCount"/>
        <result column="fee_count" jdbcType="DECIMAL" property="feeCount"/>
        <result column="fee_total" jdbcType="DECIMAL" property="feeTotal"/>
        <result column="data_status" jdbcType="SMALLINT" property="dataStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,
        plan_id, t_code, company_code, org_id, business_hall_id, create_user_id, read_meter_year, read_meter_month, total_read_meter_count, read_meter_count, review_count, settlement_count, fee_count, fee_total, data_status
    </sql>

    <select id="getPlanById" resultType="com.cdqckj.gmis.statistics.entity.MeterPlanNow">
        SELECT * FROM sts_meter_plan_now WHERE plan_id = #{planId}
    </select>

    <select id="stsUserPlan" resultType="com.cdqckj.gmis.statistics.vo.MeterPlanNowStsVo">
        SELECT
            SUM( total_read_meter_count ) totalMeter,
            SUM( read_meter_count ) readMeterCount,
            SUM( total_read_meter_count - read_meter_count ) missMeterCount,
            SUM( review_count ) reviewCount,
            SUM( settlement_count ) settlementCount,
            SUM( fee_count ) feeCount
        FROM
            sts_meter_plan_now
        WHERE
            create_user_id = #{uId}
        <if test="dataStatus != null and dataStatus != ''">
            AND data_status = #{dataStatus}
        </if>
    </select>

    <select id="generalGasMeter" resultType="com.cdqckj.gmis.statistics.vo.MeterPlanNowStsVo">
        SELECT
            SUM( total_read_meter_count ) totalMeter,
            SUM( read_meter_count ) readMeterCount,
            SUM( total_read_meter_count - read_meter_count ) missMeterCount,
            SUM( review_count ) reviewCount,
            SUM( settlement_count ) settlementCount,
            SUM( fee_count ) feeCount
        FROM
            sts_meter_plan_now
        WHERE data_status = 1
        <if test="searchSql != null and searchSql != ''">
            ${searchSql}
        </if>
    </select>

</mapper>
