<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.authority.dao.core.StationMapper">

    <select id="findStationPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM c_core_station s ${ew.customSqlSegment}
    </select>


    <select id="findStationPageEx" resultMap="BaseResultMap">
        SELECT
        cs.*
        FROM
        c_core_station cs
        inner JOIN c_core_org co on co.id = cs.org_id and co.`status`= 1
        <where>
        <if test="pageDTO.statusA!=null">
            and cs.`status` = #{pageDTO.statusA}
        </if>
        <if test="pageDTO.orgId.key!=null">
            and (cs.org_id = #{pageDTO.orgId.key} or LOCATE(#{pageDTO.orgId.key},co.tree_path) > 0)
        </if>
        <if test="pageDTO.name!=null and pageDTO.name!=''">
            and cs.name like "%${pageDTO.name}%"
        </if>
        </where>
    </select>

</mapper>
