<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.userarchive.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.userarchive.entity.Customer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_type_name" jdbcType="VARCHAR" property="customerTypeName"/>
        <result column="sex" jdbcType="SMALLINT" property="sex"/>
        <result column="id_type_code" jdbcType="VARCHAR" property="idTypeCode"/>
        <result column="id_type_name" jdbcType="VARCHAR" property="idTypeName"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"/>
        <result column="contact_address" jdbcType="VARCHAR" property="contactAddress"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="black_status" jdbcType="SMALLINT" property="blackStatus"/>
        <result column="customer_status" jdbcType="SMALLINT" property="customerStatus"/>
        <result column="pre_store_money" jdbcType="DECIMAL" property="preStoreMoney"/>
        <result column="pre_store_count" jdbcType="INTEGER" property="preStoreCount"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="contract_number" jdbcType="VARCHAR" property="contractNumber"/>
        <result column="contract_status" jdbcType="BIT" property="contractStatus"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="cardholder" jdbcType="VARCHAR" property="cardholder"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="insurance_no" jdbcType="VARCHAR" property="insuranceNo"/>
        <result column="insurance_end_time" jdbcType="TIMESTAMP" property="insuranceEndTime"/>
        <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle"/>
        <result column="TIN" jdbcType="VARCHAR" property="tin"/>
        <result column="invoice_bank_account" jdbcType="VARCHAR" property="invoiceBankAccount"/>
        <result column="invoice_address" jdbcType="VARCHAR" property="invoiceAddress"/>
        <result column="invoice_email" jdbcType="VARCHAR" property="invoiceEmail"/>
        <result column="delete_user" jdbcType="BIGINT" property="deleteUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,create_user,update_time,update_user,black_status,
        company_code, company_name, org_id, org_name, install_id, install_number, customer_code, customer_name, customer_type_id, customer_type_name, sex, id_type_id, id_type_name, id_number,idcard, telphone, contact_address, remark, customer_status, total_charge_count, total_change_card_count, total_charge_money_count, total_charge_gas_count, total_gas, total_use_money, pre_store_money, pre_store_count, balance, last1_charge_volume, last1_charge_money, last1_charge_time, last2_charge_volume, last2_charge_money, last3_charge_volume, last3_charge_money, contract_number, contract_status, bank, cardholder, bank_account, insurance_no, insurance_end_time, invoice_title, TIN, invoice_bank_account, invoice_address, invoice_email, delete_user, delete_time
    </sql>

    <select id="findCustomerPage" parameterType="com.cdqckj.gmis.userarchive.vo.CustomerPageVo" resultType="com.cdqckj.gmis.userarchive.entity.Customer">
        select distinct (a.customer_code)  as customerCode ,a.org_id as org_id,
        a.customer_name as customerName,a.id_card as idCard,
        a.id_number as idNumber,a.id_type_name as idTypeName,a.telphone as telphone,
        a.contact_address as contactAddress,
        a.id_type_code as idTypeCode,
        a.customer_type_name as customerTypeName,
        a.customer_type_code as customerTypeCode,a.sex as sex,
        a.black_status as blackStatus,a.invoice_bank_account as invoiceBankAccount,
        a.insurance_no as insuranceNo,a.insurance_end_time as insuranceEndTime,
        a.contract_status as contractStatus,a.contract_number as contractNumber,
        a.bank as bank, a.bank_account as bankAccount, a.cardholder as cardholder,
        a.pre_store_count as preStoreCount ,a.pre_store_money as preStoreMoney,
        a.balance as balance,a.customer_status as customerStatus,
        a.invoice_address as invoiceAddress,
        a.id  as id ,a.create_time as createTime,a.create_user as createUser ,
        a.update_time as updateTime ,a.update_user as updateUser ,a.company_code as companyCode,
        a.company_name as companyName,a.org_id as orgId ,a.org_name as orgName,a.delete_time as deleteTime,
        a.delete_user as deleteUser,
        a.remark as remark
        from da_customer a
        left join da_customer_gas_meter_related b on a.customer_code=b.customer_code and b.data_status=1

        left join da_gas_meter c on c.gas_code=b.gas_meter_code
        <where>
            a.customer_status !=0
            <if test="params.customerChargeNo !=null and params.customerChargeNo!= ''">
                and  b.customer_charge_no=#{params.customerChargeNo}
            </if>
            <if test="params.gasMeterNumber !=null and params.gasMeterNumber!= ''">
                and  c.gas_meter_number=#{params.gasMeterNumber}
            </if>
            <if test="params.useGasTypeId !=null and params.useGasTypeId!= ''">
                and  c.use_gas_type_id=#{params.useGasTypeId}
            </if>
            <if test="params.deleteStatus !=null">
                and  a.delete_status=#{params.deleteStatus}
            </if>
            <if test="params.dataStatus !=null">
                and  c.data_status=#{params.dataStatus}
            </if>
            <if test="params.customerStatus !=null">
                and  a.customer_status=#{params.customerStatus}
            </if>
            <if test="params.blackStatus !=null">
                and  a.black_status=#{params.blackStatus}
            </if>
            <if test="params.moreGasMeterAddress !=null and params.moreGasMeterAddress!= ''">
                and  c.more_gas_meter_address like concat ('%','${params.moreGasMeterAddress}','%')
            </if>
            <if test="params.gasCode !=null and params.gasCode!= ''">
                and  c.gas_code=#{params.gasCode}
            </if>
            <if test="params.customerCode !=null and params.customerCode!= ''">
                and  a.customer_code=#{params.customerCode}
            </if>
            <if test="params.customerName !=null and params.customerName!= ''">
                and  a.customer_name like concat ('%','${params.customerName}','%')
            </if>
            <if test="params.idCard !=null and params.idCard!= ''">
                and  a.id_card=#{params.idCard}
            </if>
            <if test="params.telphone !=null and params.telphone!= ''">
                and  a.telphone  like concat ('%','${params.telphone}','%')
            </if>
            <if test="params.customerTypeCode !=null and params.customerTypeCode!= ''">
                and  a.customer_type_code=#{params.customerTypeCode}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="findCustomerGasMeterPage" parameterType="com.cdqckj.gmis.userarchive.vo.CustomerPageVo" resultType="com.cdqckj.gmis.userarchive.dto.CustomerGasDto">
        select
            a.customer_code as customerCode ,
            a.customer_name as customerName,
            a.id_card as idCard,
            a.telphone as telphone,
            a.customer_status as customerStatus,
            a.customer_type_name as customerTypeName,
            a.contact_address as contactAddress,
            a.create_time as createTime,
            c.org_id as org_id,
            c.send_card_stauts as sendCardStauts,
            c.gas_meter_real_id as gasMeterRealId,
            c.gas_code as gasCode,
            f.gas_meter_factory_name  as gasMeterFactoryName,
            f.id as gasMeterFactoryId,
            g.id as gasMeterModelId ,
            e.id as gasMeterVersionId,
            e.order_source_name as orderSourceName,
            e.amount_mark as amountMark,
            g.model_name  as gasMeterModelName,
            e.gas_meter_version_name as gasMeterVersionName,
            e.radix as   radix,
            us.use_gas_type_name as useGasTypeName ,
            c.node_number as nodeNumber,
            c.use_gas_type_id as useGasTypeId ,
            c.use_gas_type_code as useGasTypeCode,
            c.data_status as dataStatus,
            b.customer_charge_no as customerChargeNo,
            c.contract_number as contractNumber,
            c.open_account_time as openAccountTime,
            c.gas_meter_address as gasMeterAddress,
            c.more_gas_meter_address as moreGasMeterAddress,
            c.direction as direction,
            c.gas_meter_number as gasMeterNumber,
            d.account_money as accountMoney
        from  da_gas_meter c
        left join da_customer_gas_meter_related b on c.gas_code=b.gas_meter_code
        left join da_customer  a on a.customer_code = b.customer_code
        left join gt_customer_account d on a.customer_code = d.customer_code
        left join pt_gas_meter_factory f on c.gas_meter_factory_id=f.id
        left join pt_gas_meter_version e on c.gas_meter_version_id =e.id
        left join pt_gas_meter_model g on c.gas_meter_model_id =g.id
        left join pz_use_gas_type us on us.id=c.use_gas_type_id
        <where>
                 b.data_status=1   and  c.data_status in(3,4)  and d.delete_status = '0'
            <if test="params.customerChargeNo !=null and params.customerChargeNo!= ''">
                and  b.customer_charge_no=#{params.customerChargeNo}
            </if>
            <if test="params.useGasTypeId !=null and params.useGasTypeId!= ''">
                and  c.use_gas_type_id=#{params.useGasTypeId}
            </if>
            <if test="params.moreGasMeterAddress !=null and params.moreGasMeterAddress!= ''">
                and  c.more_gas_meter_address like concat ('%','${params.moreGasMeterAddress}','%')
            </if>
            <if test="params.gasCode !=null and params.gasCode!= ''">
                and  c.gas_code=#{params.gasCode}
            </if>
            <if test="params.customerCode !=null and params.customerCode!= ''">
                and  a.customer_code=#{params.customerCode}
            </if>
            <if test="params.customerName !=null and params.customerName!= ''">
                and  a.customer_name like concat ('%','${params.customerName}','%')
            </if>
            <if test="params.telphone !=null and params.telphone!= ''">
                and  a.telphone=#{params.telphone}
            </if>
            <if test="params.customerTypeCode !=null and params.customerTypeCode!= ''">
                and  a.customer_type_code=#{params.customerTypeCode}
            </if>
            <if test="params.gasMeterNumber !=null and params.gasMeterNumber!= ''">
                and   c.gas_meter_number=#{params.gasMeterNumber}
            </if>
            <if test="params.orgIds != null and params.orgIds.size()>0">
                and b.org_id in
                <foreach collection="params.orgIds" open="(" close=")" item="orgId" separator=",">
                    #{orgId, jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
        order by a.create_time desc
    </select>





    <select id="findCustomerGasMeterPageTwo" parameterType="com.cdqckj.gmis.userarchive.vo.CustomerPageVo" resultType="com.cdqckj.gmis.userarchive.dto.CustomerGasDto">
        select
        a.customer_code as customerCode ,
        a.customer_name as customerName,
        a.id_card as idCard,
        a.telphone as telphone,
        a.customer_status as customerStatus,
        a.customer_type_name as customerTypeName,
        a.contact_address as contactAddress,
        a.create_time as createTime,
        c.org_id as org_id,
        c.send_card_stauts as sendCardStauts,
        c.gas_meter_real_id as gasMeterRealId,
        c.gas_code as gasCode,
        f.gas_meter_factory_name  as gasMeterFactoryName,
        f.id as gasMeterFactoryId,
        g.id as gasMeterModelId ,
        e.id as gasMeterVersionId,
        e.order_source_name as orderSourceName,
        e.amount_mark as amountMark,
        g.model_name  as gasMeterModelName,
        e.gas_meter_version_name as gasMeterVersionName,
        e.radix as   radix,
        us.use_gas_type_name as useGasTypeName ,
        c.node_number as nodeNumber,
        c.use_gas_type_id as useGasTypeId ,
        c.use_gas_type_code as useGasTypeCode,
        c.data_status as dataStatus,
        b.customer_charge_no as customerChargeNo,
        c.contract_number as contractNumber,
        c.open_account_time as openAccountTime,
        c.gas_meter_address as gasMeterAddress,
        c.direction as direction,
        c.gas_meter_number as gasMeterNumber,
        c.more_gas_meter_address as moreGasMeterAddress,
        d.account_money as accountMoney
        from  da_gas_meter c
        left join da_customer_gas_meter_related b on c.gas_code=b.gas_meter_code
        left join da_customer  a on a.customer_code = b.customer_code
        left join gt_customer_account d on a.customer_code = d.customer_code
        left join pt_gas_meter_factory f on c.gas_meter_factory_id=f.id
        left join pt_gas_meter_version e on c.gas_meter_version_id =e.id
        left join pt_gas_meter_model g on c.gas_meter_model_id =g.id
        left join pz_use_gas_type us on us.id=c.use_gas_type_id
        <where>
            b.data_status=1 and d.delete_status = '0'
            <if test="params.customerChargeNo !=null and params.customerChargeNo!= ''">
                and  b.customer_charge_no=#{params.customerChargeNo}
            </if>
            <if test="params.useGasTypeId !=null and params.useGasTypeId!= ''">
                and  c.use_gas_type_id=#{params.useGasTypeId}
            </if>
            <if test="params.deleteStatus !=null and params.deleteStatus!= ''">
                and  c.delete_status=#{params.deleteStatus}
            </if>
            <if test="params.dataStatus !=null and params.dataStatus!= ''">
                and  c.data_status=#{params.dataStatus}
            </if>

            <if test="params.moreGasMeterAddress !=null and params.moreGasMeterAddress!= ''">
                and  c.more_gas_meter_address like concat ('%','${params.moreGasMeterAddress}','%')
            </if>
            <if test="params.gasCode !=null and params.gasCode!= ''">
                and  c.gas_code=#{params.gasCode}
            </if>
            <if test="params.customerCode !=null and params.customerCode!= ''">
                and  a.customer_code=#{params.customerCode}
            </if>
            <if test="params.customerName !=null and params.customerName!= ''">
                and  a.customer_name like concat ('%','${params.customerName}','%')
            </if>
            <if test="params.telphone !=null and params.telphone!= ''">
                and  a.telphone=#{params.telphone}
            </if>
            <if test="params.customerTypeCode !=null and params.customerTypeCode!= ''">
                and  a.customer_type_code=#{params.customerTypeCode}
            </if>
            <if test="params.gasMeterNumber !=null and params.gasMeterNumber!= ''">
                and   c.gas_meter_number=#{params.gasMeterNumber}
            </if>
            <if test="params.orgIds != null and params.orgIds.size()>0">
                and b.org_id in
                <foreach collection="params.orgIds" open="(" close=")" item="orgId" separator=",">
                    #{orgId, jdbcType=BIGINT}
                </foreach>
            </if>

        </where>
        order by a.create_time ,c.update_time  desc
    </select>

    <select id="findCustomerGmIf" parameterType="com.cdqckj.gmis.userarchive.vo.CustomerSecurityQuerypParametersVo" resultType="com.cdqckj.gmis.userarchive.dto.CustomerSecurityQuerypParametersDto">
        select a.customer_code as customerCode ,a.customer_name as customerName,a.id_card as idCard,a.org_id as org_id,
        a.id_number as idNumber,a.id_type_name as  idTypeName,a.telphone as telphone,a.balance as balance,a.contact_address as contactAddress,
        a.customer_type_name as customerTypename,  a.company_code as companyCode,a.company_name as compangName,a.org_id as orgId,a.org_name as orgName,
       a.customer_type_id as customerTyeId,a.sex as sex,a.id_type_id as idTypeId,a.remark as remark,
        a.customer_status as customerStatus,
        a.pre_store_money as preStoreMoney,
        a.contract_number as contractNumber,a.contract_status as contractStatus,a.bank as bank,a.cardholder as cardholder,a.bank_account as bankaccount,a.insurance_no as insuranceNo,a.insurance_end_time as insuranceEndTime,a.invoice_title as invoiceTitle,
        a.TIN as TIN,a.invoice_bank_account as invoiceBankAccount,a.invoice_address as invoiceAddress,a.invoice_email as invoiceEmail,a.create_time as createTime,a.create_user as createUser,a.update_time as updateTime,a.update_user as updateUser,a.delete_user as deleteUser,

--         c.id as cid, c.last_security_check_time as lastSecurityCheckTime, c.gasmeter_code as gasmeterCode,c.use_gas_type_name as useGasTypeName,c.gas_meter_factory_id as gasMeterFactoryId,c.gas_meter_factory_name as gasMeterFactoryName,c.gas_meter_type_id as gasMeterTypeId,
--         c.gas_meter_type_name as gasMeterTypeName,c.use_gas_type_id as useGasTypeId,c.use_gas_type_name as useGasTypeName,c.initial_measurement_base as initialMeasurementBase ,c.id_card_number as idCardNumber ,c.ic_card_number as icCardNumber,c.card_verify_data as cardVerifyData,
--         c.total_charge_gas as ctotalChargeGas,c.total_charge_money as ctotalChargeMoney,c.total_charge_count as ctotalChargeCount,c.total_replacement_card_count as totalReplacementCardCount,
--         c.security_check_result as securityCheckResult,c.gas_meter_factory_name as gasMeterFactoryName,c.total_maintenance_count as ctotalMaintenanceCount,c.total_additional_count as ctotalAdditionalcount,c.total_read_meter_count as totalReadMeterCount,c.cycle_charge_gas as cycleChargeGas,
--         c.gas_meter_type_name AS gasMeterTypeName,c.security_check_status as securityCheckStatus ,c.security_check_type as securityCheckType ,c.security_check_user_name as securityCheckUserName,c.security_check_user_id as securityCheckUserId
        from da_customer a 
        left join da_customer_gas_meter_related b on b.customer_code=a.customer_code
        LEFT JOIN da_gas_meter_info c on b.gas_meter_code=c.gasmeter_code and c.data_status= 1
        LEFT JOIN da_gas_meter d on d.gas_code=b.gas_meter_code
        <where>
             b.data_status=1
            <if test="params.streetId !=null and params.streetId!= ''">
               and  d.street_id=#{params.streetId}
            </if>
            <if test="params.communityId !=null and params.communityId != ''">
              and  d.community_id=#{params.communityId}
            </if>

            <if test="params.useGasTypeID !=null and params.useGasTypeID!= ''">
                and  d.use_gas_type_id=#{params.useGasTypeID}
            </if>
             <if test="params.nodeNumber !=null and params.nodeNumber!= ''">
                and  d.node_number=#{params.nodeNumber}
             </if>
            <if test="params.customerCode !=null and params.customerCode!= ''">
                 and  a.customer_code=#{params.customerCode}
             </if>
            <if test="params.customerName !=null and params.customerName!= ''">
                and a.customer_name =#{params.customerName}
            </if>
             <if test="params.contactAddress !=null and params.contactAddress!= ''">
                and  a.contact_address  =#{params.contactAddress}
             </if>
            <if test="params.securityCheckUserId !=null and params.securityCheckUserId!= ''">
                and  a.security_check_user_id  =#{params.securityCheckUserId}
            </if>
<!--            <if test="params.startTime!=null">-->
<!--                <![CDATA[   and DATE_FORMAT(c.last_security_check_time, '%Y-%m-%d')>=  DATE_FORMAT(#{params.startTime}, '%Y-%m-%d')   ]]>-->
<!--             </if>-->
<!--            <if test="params.endTime!=null">-->
<!--                <![CDATA[  and DATE_FORMAT(c.last_security_check_time, '%Y-%m-%d') <= DATE_FORMAT(#{params.endTime}, '%Y-%m-%d')    ]]>-->
<!--            </if>-->
        </where>
    </select>
    <select id="findGasMeterCustomer"  parameterType="com.cdqckj.gmis.userarchive.vo.GasMeterCustomerParme" resultType="com.cdqckj.gmis.userarchive.vo.GasMeterCustomerDto">
        select a.customer_code as customerCode ,a.customer_name as customerName,a.telphone as telphone,c.org_id as org_id,
                a.customer_type_name as customerTypename,c.use_gas_type_id as useGasTypeId,c.send_card_stauts as sendCardStauts,c.gas_meter_real_id as gasMeterRealId,
                c.use_gas_type_name as useGasTypeName,c.gas_code as gasCode,c.gas_meter_number AS gasMeterNumber,c.street_id AS streetId,
                c.node_number as nodeNumber, c.community_name as communityName,
                b.customer_charge_no as customerChargeNo, c.more_gas_meter_address as moreGasMeterAddress
        from da_gas_meter c left join pt_gas_meter_version v on c.gas_meter_version_id = v.id
        left JOIN da_customer_gas_meter_related  b ON c.gas_code=b.gas_meter_code
        <if test="parmes.customerChargeNo !=null and parmes.customerChargeNo!= ''">
            and  b.customer_charge_no=#{parmes.customerChargeNo}
        </if>
        left JOIN da_customer a on a.customer_code=b.customer_code
        <where>
            c.data_status in (3,4) and b.data_status=1 and v.order_source_name = 'READMETER_PAY'
            <if test="parmes.customerCode !=null and parmes.customerCode!= ''">
                and a.customer_code=#{parmes.customerCode}
            </if>
            <if test="parmes.customerName !=null and parmes.customerName!= ''">
                and a.customer_name   like concat ('%',#{parmes.customerName},'%')
            </if>
            <if test="parmes.telphone !=null and parmes.telphone!= ''">
                and a.telphone =#{parmes.telphone}
            </if>
            <if test="parmes.customerTypeId !=null ">
                and a.customer_type_id =#{parmes.customerTypeId}
            </if>
            <if test="parmes.useGasTypeId !=null ">
                and c.use_gas_type_id =#{parmes.useGasTypeId}
            </if>
            <if test="parmes.gasCode !=null and parmes.gasCode!= ''">
                and c.gas_code =#{parmes.gasCode}
            </if>
            <if test="parmes.moreGasMeterAddress !=null and parmes.moreGasMeterAddress!= ''">
                and c.more_gas_meter_address  like concat ('%',#{parmes.moreGasMeterAddress},'%')
            </if>
            <if test="parmes.communityId !=null ">
                and c.community_id =#{parmes.communityId}
            </if>
            <if test="parmes.gasMeterNumber !=null and parmes.gasMeterNumber!= ''">
                and c.gas_meter_number=#{parmes.gasMeterNumber}
            </if>
            <if test="parmes.streetId !=null and parmes.streetId!= ''">
                and c.street_id=#{parmes.streetId}
            </if>
            <!--<if test="parmes.gasMeterTypeCode !=null ">
                and c.gas_meter_type_code =#{parmes.gasMeterTypeCode}
            </if>-->
            <if test="parmes.gasCodeNotInList !=null and parmes.gasCodeNotInList.size()>0">
                and c.gas_code not in
                <foreach item="parmes.gasCodeNotInList" index="index" collection="parmes.gasCodeNotInList"
                         open="(" separator="," close=")">
                    #{parmes.gasCodeNotInList}
                </foreach>

            </if>
        </where>
    </select>

    <select id="findIdNumber" resultType="java.lang.String">
     SELECT a.id_card as idNumber from da_customer a where a.customer_status !=2
    </select>

    <select id="findGasByChargeNos" resultType="com.cdqckj.gmis.userarchive.dto.CustomerGasInfoDTO">
        SELECT
            cu.customer_code customerCode,
            cu.customer_name customerName,
            cu.telphone,
            gm.gas_code gasCode,
            gr.customer_charge_no customerChargeNo,
            gm.more_gas_meter_address moreGasMeterAddress,
            gm.use_gas_type_id useGasTypeId,
            gm.node_number nodeNumber,
            gm.gas_meter_number gasMeterNumber,
            gm.open_account_time openAccountTime,
            mi.total_use_gas totalUseGas,
            mv.amount_mark amountMark,
            mv.order_source_name orderSourceName
        FROM
            da_gas_meter gm
        left JOIN da_customer_gas_meter_related gr on gr.gas_meter_code = gm.gas_code and gr.data_status = 1
        left JOIN da_customer cu on cu.customer_code = gr.customer_code
        LEFT JOIN da_gas_meter_info mi on mi.gasmeter_code = gm.gas_code and mi.data_status= 1
        LEFT join pt_gas_meter_version mv on mv.id = gm.gas_meter_version_id
        <where>
            gr.customer_charge_no in (
            <foreach collection="customerChargeNos" item="item" separator=",">
                #{item,jdbcType=VARCHAR}
            </foreach>
            )
        </where>
    </select>
    <select id="getConcernsCustomer" parameterType="com.cdqckj.gmis.userarchive.entity.Customer" resultType="com.cdqckj.gmis.userarchive.entity.ConcernsCustomer">
        SELECT
        distinct cu.customer_code customerCode,
        cu.customer_name customerName,
        cu.telphone telphone,
        cu.customer_type_code customerTypeCode,
        cu.customer_type_name customerTypeName,
        cu.contact_address contactAddress,
        cu.create_time createTime,
        gm.use_gas_type_id useGasTypeId,
        gm.use_gas_type_name useGasTypeName
        FROM
        da_gas_meter gm
        LEFT JOIN da_customer_gas_meter_related gr on gr.gas_meter_code = gm.gas_code
        LEFT JOIN da_customer cu on cu.customer_code = gr.customer_code
        <where>
            gr.data_status = 1
            <if test="params.customerCode !=null and params.customerCode!= ''">
                and  cu.customer_code=#{params.customerCode}
            </if>
            <if test="params.customerName !=null and params.customerName!= ''">
                and  cu.customer_name like concat ('${params.customerName}','%')
            </if>
        </where>
    </select>

    <select id="stsByCustomerStatus" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBaseVo">
        SELECT
            COUNT( 1 ) amount, customer_status  type
        FROM
            da_customer
        WHERE delete_status = 0 AND customer_status != 0 AND org_id IN ${dataScope}
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
            GROUP BY customer_status
    </select>

    <select id="stsCustomType" resultType="com.cdqckj.gmis.common.domain.sts.StsInfoBaseVo">
        SELECT
            COUNT( 1 ) amount, customer_type_code  type
        FROM
            da_customer
        WHERE delete_status = 0 AND org_id IN ${dataScope}
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
            GROUP BY customer_type_code
    </select>

    <select id="stsCustomBlackNum" resultType="java.lang.Long">
        SELECT
            COUNT( 1 ) amount
        FROM
             da_customer_blacklist dcb INNER JOIN da_customer dc ON dcb.customer_code = dc.customer_code
        WHERE org_id IN ${dataScope}
            <if test="stsSearchParam.companyCode != null and stsSearchParam.companyCode != ''">
                AND dc.company_code = #{stsSearchParam.companyCode}
            </if>
            <if test="stsSearchParam.orgId != null">
                AND dc.org_id = #{stsSearchParam.orgId}
            </if>
            <if test="stsSearchParam.createUserId != null">
                AND dcb.create_user = #{stsSearchParam.createUserId}
            </if>
            <if test="stsSearchParam.startDay != null">
                AND dcb.create_time <![CDATA[>=]]> #{stsSearchParam.startDay}
            </if>
            <if test="stsSearchParam.endDay != null">
                AND dcb.create_time <![CDATA[<=]]> #{stsSearchParam.endDay}
            </if>
    </select>

</mapper>
