<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.pay.dao.WxAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.pay.entity.WxApp">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="pay_mach_id" jdbcType="VARCHAR" property="payMachId"/>
        <result column="pay_key" jdbcType="VARCHAR" property="payKey"/>
        <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl"/>
        <result column="pay_sslcert_path" jdbcType="VARCHAR" property="paySslcertPath"/>
        <result column="pay_sslcert_key" jdbcType="VARCHAR" property="paySslcertKey"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
        <result column="pay_ip" jdbcType="VARCHAR" property="payIp"/>
        <result column="fun_id" jdbcType="VARCHAR" property="funId"/>
        <result column="channel" jdbcType="INTEGER" property="channel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        app_id, app_secret, token, pay_mach_id, pay_key, notify_url, pay_sslcert_path, pay_sslcert_key, notes, pay_ip, fun_id, channel
    </sql>

</mapper>
