<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdqckj.gmis.pay.dao.WxPayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdqckj.gmis.pay.entity.WxPay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="order_title" jdbcType="VARCHAR" property="orderTitle"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="pay_notes" jdbcType="VARCHAR" property="payNotes"/>
        <result column="pay" jdbcType="DECIMAL" property="pay"/>
        <result column="pay_openId" jdbcType="VARCHAR" property="payOpenid"/>
        <result column="pay_state" jdbcType="INTEGER" property="payState"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="notify" jdbcType="INTEGER" property="notify"/>
        <result column="notify_conten" jdbcType="VARCHAR" property="notifyConten"/>
        <result column="isSandbox" jdbcType="INTEGER" property="isSandbox"/>
        <result column="auth_code" jdbcType="VARCHAR" property="authCode"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="time_start" jdbcType="VARCHAR" property="timeStart"/>
        <result column="time_expire" jdbcType="VARCHAR" property="timeExpire"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_user,create_time,update_user,update_time,product_id,transaction_id,time_start,time_expire,
        pay_notes, pay, pay_openId, pay_state, pay_time, notify, notify_conten ,isSandbox , authCode ,order_number, order_title, detail, body
    </sql>
    
    <update id="updatePayState">
        update m_wx_pay set pay_state = #{payState} WHERE order_number = #{orderNumber}
    </update>

</mapper>
